
{% load static %}
<fieldset class="margin-bottom" id="search-components">
    <div class="search-control">
        <label class="sc-label">Order: </label>
        {% with choices_field=form.order %}
            {% include "core/component/common_form_choices.html" %}
        {% endwith %}
    </div>

    <div class="search-control sc-row">
        {{ form.sort_by.errors }}
        {{ form.sort_by.label_tag }}
        <span class="sc-input">{{ form.sort_by }}</span>
    </div>

    <div class="search-control sc-row">
        {{ form.num_record.errors }}
        {{ form.num_record.label_tag }}
        <span class="sc-input">{{ form.num_record }}</span>
    </div>

    {{ form.page }}

    <script src="{% static 'core/js/select-autosize.js' %}"></script>
</fieldset>
