{% extends "emlo_base.html" %}

{% block content %}

{% if errors %}

{{ errors }}

{% endif %}

{% if report %}
<ol class="unstyled-list">

        <li class="search-result">
          <article class="row">
            <div class="col col--4of6">
              <p class="fw-700 search-result__date">
                <small>
                  <time datetime="1753-01-05">{{ report.time }}</time>
                </small>
              </p>
              <h3>
              {% if not report.errors and not report.summary.total_errors %}
                <span style="color: #0f0;">&#x2713;</span> {{ report.file }}
              {% else %}
                <span style="color: #f00;">&#x2717;</span> {{ report.file }}
              {% endif %}
              </h3>
              <p class="fw-700 search-result__date">
                <small>
                  Processing time: {{ report.elapsed }}
                </small>
              </p>
              <p class="fw-700 search-result__date">
                <small>
                  File size: {{ report.size }} kb
                </small>
              </p>
                <p class="fw-700 search-result__date">
                <small>
                  Errors: {{ report.summary.total_errors }}
                </small>
              </p>

                {% if report.summary %}

                {% for entity, properties in report.summary.items %}
                    {% if entity != 'total_errors' %}
                  <details class="search-results__abstract">
                    <summary class="fw-700">{{ entity }} ({{ properties.total }})</summary>
                     {% if not report.summary.total_errors %}
                        <ol>


                            {% for item in properties.first_three %}
                                <li>{{ item }}</li>
                            {% endfor %}
                        </ol>
                         {% else %}
                        <ul>
                             {% for error in properties.errors %}

                                <li>Row: {{ error.row }}<br/>
                                    {% for row_error in error.errors %}
                                        <i>{{ row_error.col }}</i>: {{ row_error }}<br/>
                                    {% endfor %}
                                </li>

                            {% endfor %}
                        </ul>
                         {% endif %}
                  </details>
                    {% endif %}
                {% endfor %}

                {% else %}

                <ul>
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>

                {% endif %}

            </div>

          </article>
        </li>
</ol>
{% endif %}

{% endblock %}