{% extends "core/emlo_logined.html" %}

{% block content %}

<p style="font-size: x-large;">Contribution by {{ upload.upload_username }} uploaded {{ upload.upload_timestamp }}</p>

<span style="background-color: #ddd; font-weight: bold; padding: 0.4em;">Status: {{ upload.upload_status }} | Number of works uploaded: {{ works | length }} | Accepted: {{ upload.works_accepted}} | Rejected: {{ upload.works_rejected}}</span>

<div style="margin-top: 20px">
    Back to list of contributions <button type="button" class="btn inline_btn" onclick="location.href='/upload'">Back</button>

    Accept entire contribution <button class="btn inline_btn" disabled>Accept all</button>

    Reject entire contribution <button class="btn inline_btn">Reject all</button>
</div>

{% include "works.html" %}

{% include "people.html" %}

<!--

{% for location in places %}

    <p>{{ location }}</p>

{% endfor %}


{% for institution in institutions %}

    <p>{{ institution }}</p>

{% endfor %}
-->
{% endblock %}