
<div id="works">
    <h1>Works</h1>
    {% if works|length == 1 %}
    <p>Details of {{ works| length }} new work was uploaded in this contribution. </p>
    You can export details of the work in this contribution to a spreadsheet <button>Export</button>
    {% else %}
    <p>Details of {{ works | length }} new works were uploaded in this contribution. </p>
    You can export details of the works in this contribution to a spreadsheet <button>Export</button>
    {% endif %}

</div>

    <hr>

{% for work in works %}
    <p style="font-weight: bold; font-size: larger;">Work {{ forloop.counter }} of {{ works | length }}</p>

    <div style="margin: 1em;">
        <a href="#works">Works</a> - <a href="#people">People</a>
    </div>
    <table cellspacing="0" cellpadding="14" border="1" class="review">
        <tr>
            <td class="header">Status and possible actions</td>
            <td><strong>{{ work.upload_status }}</strong> (Collect ID: {{ work.iwork_id}})<br/>
                <button>Accept</button> <button>Reject</button><br/>
                Note: confirmation will be required before Accept/Reject of work</td>
        </tr>
        <tr>
            <td class="header">Date of work</td>
            <td>{{ work.display_daterange }}

                {% if work.date_of_work_as_marked %}
                    <br/>As marked: {{ work.date_of_work_as_marked }}
                {% endif %}

                {% if work.display_original_calendar %}
                    <br/>Original calendar: {{ work.display_original_calendar }}
                {% endif %}

                {% if work.display_date_issues %}
                    <br/>Issues with date of work: {{ work.display_date_issues }}
                {% endif %}

                {% if work.notes_on_date_of_work %}
                    <br/>Notes on date: {{ work.notes_on_date_of_work }}
                {% endif %}

            </td>
        </tr>
        <tr>
            <td class="header">Author{{ authors|pluralize:",s" }}</td>
            <td>{% for author in authors %}
                    {{ author }}<br/>
                {% endfor %}

                {% if work.authors_as_marked %}
                    <br/>As marked: {{ work.authors_as_marked }}
                {% endif %}

                {% if work.display_authors_issues %}
                    <br/>Issues with author{{ authors|pluralize:",s" }}: {{ work.display_authors_issues }}
                {% endif %}

                {% if work.notes_on_authors %}
                    <br/>Notes on author{{ authors|pluralize:",s" }}: {{ work.notes_on_authors }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <td class="header">Origin</td>
            <td>{{ work.origin_id }}

                {% if work.origin_as_marked %}
                    <br/>As marked: {{ work.origin_as_marked }}
                {% endif %}

                {% if work.display_origin_issues %}
                    <br/>Issues with origin: {{ work.display_origin_issues }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <td class="header">Repositories and versions</td>
            <td></td>
        </tr>
    </table>
    <hr/>

{% endfor %}