{% extends "core/emlo_common_form.html" %}
{% load static %}

{% block head %}
    {{ block.super }}
{% endblock %}

{% block content %}

    <div class="form-core-div">

        <div class="form-col-left"></div>

        <div class="form-col-right">
            <div>
                {{ form.errors }}
            </div>


            <form method="post">
                {% csrf_token %}

                {% include "core/component/form_descriptor.html" with descriptor=form_descriptor %}
                <fieldset>
                    <legend id="header_user" class="toc-item">User</legend>
                    <div class="margin-bottom">
                        <label>Username</label>
                        {{ form.username }}
                        {{ form.username.errors }}
                    </div>
                    <div class="margin-bottom">
                        <label>Email</label>
                        {{ form.email }}
                        {{ form.email.errors }}
                    </div>
                    <div class="margin-bottom">
                        <label>Forename</label>
                        {{ form.forename }}
                        {{ form.forename.errors }}
                    </div>
                    <div class="margin-bottom">
                        <label>Surname</label>
                        {{ form.surname }}
                        {{ form.surname.errors }}
                    </div>
                    <div class="margin-bottom">
                        {{ form.is_active }}
                        <label for="{{ form.is_active.id_for_label }}">Is active?</label>
                    </div>
                    <div class="margin-bottom">
                        {{ form.is_staff }}
                        <label for="{{ form.is_staff.id_for_label }}">Is staff?</label>
                    </div>
                </fieldset>
                <fieldset>
                    <legend id="header_roles" class="toc-item">Roles</legend>
                    {{ form.groups }}
                </fieldset>

                <fieldset>
                    <legend id="header_roles" class="toc-item">Reset password</legend>
                    <a href="#" class="btn btn-primary">Reset password</a>
                </fieldset>
                {% include "core/component/actionbox_form.html" with save_perm=constant.PM_CHANGE_USER %}
                {% include "core/component/close_if_save_success.html" with is_save_success=is_save_success %}

            </form>

        </div>
    </div>


{% endblock %}
