{% extends "core/emlo_common_form.html" %}
{% load static %}

{% block head %}
    {{ block.super }}
{% endblock %}

{% block content %}

    <div class="form-core-div">

        <div class="form-col-left"></div>

        <div class="form-col-right">
            <div>
                {{ form.non_field_errors }}
            </div>

            {% if reset_email_sent is not None %}
                <div class="margin-bottom new-password-box">
                    {% if reset_email_sent %}
                        An email has been sent to <strong>{{ form.instance.email }}</strong> with a link for
                        <strong>{{ form.instance.username }}</strong> to set their own password. The password is
                        never visible to a Supervisor.
                    {% elif not form.instance.email %}
                        <strong>{{ form.instance.username }}</strong> does not have an email address on file, so
                        no password reset email could be sent. The account has been created, but they will not
                        be able to log in until they set a password -- add an email address for this user and
                        use the 'Reset Password' option once resolved.
                    {% else %}
                        <strong>The password reset email could not be sent</strong> to
                        {{ form.instance.email }}. The account has been created, but
                        {{ form.instance.username }} will not be able to log in until they set a password --
                        use the 'Reset Password' option once the underlying issue is resolved.
                    {% endif %}
                </div>
            {% endif %}

            <form method="post">
                {% csrf_token %}

                {% include "core/component/form_descriptor.html" with descriptor=form_descriptor %}
                <fieldset>
                    <legend id="header_user" class="toc-item">User</legend>
                    {% if user_id %}
                    <div class="margin-bottom">
                        <label>Username</label>
                        {{ form.username }}
                        {{ form.username.errors }}
                    </div>
                    {% endif %}
                    <div class="margin-bottom">
                        <label>Email</label>
                        {{ form.email }}
                        {{ form.email.errors }}
                    </div>
                    <div class="margin-bottom">
                        <label>Forename</label>
                        {{ form.forename }}
                        {{ form.forename.errors }}
                    </div>
                    <div class="margin-bottom">
                        <label>Surname</label>
                        {{ form.surname }}
                        {{ form.surname.errors }}
                    </div>
                    <div class="margin-bottom">
                        {{ form.is_active }}
                        <label for="{{ form.is_active.id_for_label }}">Is active?</label>
                    </div>
                </fieldset>
                <fieldset>
                    <legend id="header_roles" class="toc-item">Roles</legend>
                    {{ form.groups }}
                </fieldset>

                {% if user_id %}
                    <fieldset>
                        <legend id="header_roles" class="toc-item">Reset password</legend>
                        <a href="{% url 'user:reset-password' user_id %}" class="btn btn-primary">Reset password</a>
                    </fieldset>
                {% endif %}
                <div class="bg-white sticky-bottom">
                    <hr>
                    {% include "core/component/actionbox_form.html" with save_perm=constant.PM_CHANGE_USER %}
                    {% include "core/component/close_if_save_success.html" with is_save_success=is_save_success %}
                </div>
            </form>

        </div>
    </div>


{% endblock %}
