{% extends "core/emlo_logined.html" %}
{% load static %}


{% block content %}
    <h1>Reset Password -- {{ user.username }}</h1>
    {% if email_sent %}
        <h3>An email has been sent to {{ user.email }} with a link for {{ user.username }} to set a new
            password. Their current password remains valid until they use the link.</h3>
    {% elif not user.email %}
        <h3>{{ user.username }} does not have an email address on file, so a password reset email could not
            be sent. Add an email address for this user and try again.</h3>
    {% else %}
        <h3>The password reset email could not be sent to {{ user.email }}.</h3>
    {% endif %}
    <div class="row">
        <a href="{% url 'user:search' %}" class="btn cancel-btn margin-right margin-left"> Done </a>
    </div>

{% endblock %}
