{% extends "core/emlo_logined.html" %}
{% load static %}


{% block content %}
    <style>
        .password {
            color: darkgreen;
            font-weight: bolder;
        }
    </style>

    <h1>Reset Password Completed -- {{ user.username }}</h1>
    <h3>New password for {{ user.username }} : <span class="password">{{ new_password }}</span></h3>
    <div class="row">
        <a href="{% url 'user:search' %}" class="btn cancel-btn margin-right margin-left"> Done </a>
    </div>

{% endblock %}
