{% extends "core/emlo_logined.html" %}
{% load static %}

{% block head %}
    <style>
    .cancel-btn {
        margin-bottom: 10px;
        align-content: center;
    }


    </style>
{% endblock %}

{% block content %}
    <h1>Reset Password -- {{ user.username }}</h1>
    <h3>Are you sure to reset the password for {{ user.username }}?</h3>
    <form method="post">
        {% csrf_token %}
        <div class="row">
            <a href="{% url 'user:search' %}" class="btn cancel-btn margin-right margin-left"> Cancel </a>
            <button type="submit" class="btn btn--primary">Reset Password</button>
        </div>
    </form>

{% endblock %}
