<table>
    <thead>
    <tr>
        <th>audit_id</th>
        <th>change_timestamp</th>
        <th>change_user</th>
        <th>change_type</th>
        <th>table_name</th>
        <th>key_value_text</th>
        <th>key_value_integer</th>
        <th>key_decode</th>
        <th>column_name</th>
        <th>new_column_value</th>
        <th>old_column_value</th>
    </tr>
    </thead>
    <tbody>

    {% for r in search_results %}
        <tr>

            <td>{{ r.audit_id }}</td>
            <td>{{ r.change_timestamp }}</td>
            <td>{{ r.change_user }}</td>
            <td>{{ r.change_type }}</td>
            <td>{{ r.table_name }}</td>
            <td>{{ r.key_value_text }}</td>
            <td>{{ r.key_value_integer }}</td>
            <td>{{ r.key_decode }}</td>
            <td>{{ r.column_name }}</td>
            <td>{{ r.new_column_value }}</td>
            <td>{{ r.old_column_value }}</td>

        </tr>
    {% endfor %}
    </tbody>

</table>
