<fieldset>
    <legend>{{ form.title }}</legend>

    {% include "core/component/search_fieldset/field_with_lookup.html" with field=form.publication_details field_lookup=form.publication_details_lookup %}

    {% include "core/component/search_fieldset/field_with_lookup.html" with field=form.abbrev field_lookup=form.abbrev_lookup %}

    {% include "core/component/search_fieldset/field_with_lookup.html" with field=form.change_user field_lookup=form.change_user_lookup %}

    {% include "core/component/search_fieldset/from_to_year.html" with title='Last edit' from_field=form.change_timestamp_from to_field=form.change_timestamp_to %}

    {% include "core/component/search_fieldset/field_with_lookup.html" with field=form.publication_id field_lookup=form.publication_id_lookup %}

</fieldset>