{% extends "core/emlo_common_form.html" %}
{% load static %}

{% block head %}
    {{ block.super }}
    <script src="/static/core/js/recref_service.js"></script>
    <script src="{% static 'core/js/ref_publication_service.js' %}" defer></script>
    <script src="{% static 'core/js/selectfilter.js' %}" defer></script>
    <script>
        $(function () {
            setup_selectfilter();
            $('.catalogue-div .selectfilter-root').on('select-changed', function (e, selected_text, selected_val) {
                document.querySelector('#id_catalogue').value = selected_val;
            });
            $('.sf-select').mousedown(function (e) {
                e.preventDefault()
                this.blur()
            });
        });
    </script>
{% endblock %}

{% block content %}

    <div class="form-core-div">
        <div class="form-col-left toc-host"></div>
        <div class="form-col-right">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% include "core/component/form_descriptor.html" with descriptor=form_descriptor %}

                <label>Original catalogue:</label>
                {% if common_work_form %}
                    <div class="catalogue-div">
                        {% include "core/component/selectfilter.html" with select_field=common_work_form.catalogue  datalist_field=common_work_form.catalogue_list %}
                    </div>

                    {% include "core/component/common_checkbox.html" with field=common_work_form.work_to_be_deleted name='Work marked for deletion' is_normal_size=True %}
                {% endif %}

                <div class="row-no-margin">
                    {% include "work/component/tab_link.html" with name='Correspondents' vname='work:corr_form' iwork_id=iwork_id %}
                    {% include "work/component/tab_link.html" with name='Dates' vname='work:dates_form' iwork_id=iwork_id %}
                    {% include "work/component/tab_link.html" with name='Places' vname='work:places_form' iwork_id=iwork_id %}
                    {% if iwork_id %}
                        {% include "work/component/tab_link.html" with name='Manifestation' vname='work:manif_init' iwork_id=iwork_id %}
                    {% endif %}
                    {% if iwork_id %}
                        {% include "work/component/tab_link.html" with name='Resources' vname='work:resources_form' iwork_id=iwork_id %}
                    {% endif %}
                    {% include "work/component/tab_link.html" with name='Other Details' vname='work:details_form' iwork_id=iwork_id %}
                    {% if iwork_id %}
                        {% include "work/component/tab_link.html" with name='Overview' vname='work:overview_form' iwork_id=iwork_id %}
                    {% endif %}
                </div>


                <div class="tab-content tc-corr">  <!-- KTODO remove class -->
                    {% block tabcontent %}
                    {% endblock %}
                </div>


                {% include "core/component/actionbox_form.html" %}

            </form>


        </div>
    </div>





{% endblock %}
