{% load cl_filters work_util_tags %}

<script>
    let tippies = [];

</script>

<table id="results_table">
    <thead>
    <tr></tr>
    <tr>
        <th>Description</th>
        <th>Date for ordering</th>
        <th>&nbsp;</th>
        <th>Images</th>
        <th>Manifestations</th>
        <th>Related resources</th>
        <th>ID</th>
        <th>Last edit</th>
    </tr>
    </thead>
    <tbody>

    {% for r in search_results %}
        <tr class="selectable_entry {% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}" entry_id="{{ r.publication_id }}">

            <td>
                {% include 'work/component/moreinfo.html' with work=r %}
                {{ r.description }}
            </td>
            <td>
                {% if r.date_of_work_as_marked %}
                    {{ r.date_of_work_as_marked }}
                {% endif %}
            </td>
            <td>
                {% if r.work_to_be_deleted|is_general_true %}
                    {% include 'work/component/delete.html' %}
                {% endif %}

                {% include 'work/component/exclamation.html' with work=r %}
            </td>
            <td>
                {% if r.images %}
                    {{ r.images|render_queryable_images }}
                {% endif %}
            </td>
            <td>
                {% if r.manifestations_for_display %}
                    {{ r.manifestations_for_display|render_queryable_manif }}
                {% endif %}
            </td>
            <td>
                {% if r.related_resources %}
                    {{ r.related_resources|render_queryable_resources }}
                {% endif %}
            </td>
            <td>
                {% include 'core/component/search_table_layout/link_record.html' with id=r.iwork_id view='work:full_form' %}
            </td>
            <td>
                {{ r.change_timestamp }} by {{ r.change_user }}<br/>
                Source: {{ r.accession_code }}<br/>
                [{{ r.catalogue}}]
            </td>
        </tr>
    {% endfor %}
    </tbody>

</table>
