{% extends "work/basic_form.html" %}
{% block tabcontent %}
    <div id="header_author" class="header toc-item">
        <h2>Authors / Senders</h2>
    </div>
    <fieldset>
        {% include "core/component/common_multi_rel_recref_formset.html" with multi_rel_recref_formset=author_formset recref_type='person' id_field=corr_form.selected_author_id label_add='Add another author/sender:' %}

        <div class="multi_rel_recref_container">
        <label> Authors/sender as marked: </label>
        {{ corr_form.authors_as_marked }}
        </div>

        <div class="multi_rel_recref_container">
        <label> Issues with authors/senders: </label>

        <div class="row-no-margin">
            <div class="margin-right">
                {% include "core/component/common_checkbox.html" with field=corr_form.authors_inferred name='Authors / senders inferred' is_normal_size=True%}
            </div>


            <div class="margin-right">
                {% include "core/component/common_checkbox.html" with field=corr_form.authors_uncertain  name='Authors / senders uncertain' is_normal_size=True%}
            </div>
        </div>
        </div>

        {% include "core/component/comment_publication_formset.html" with comment_formset=author_comment_formset comment_title='Notes on authors/senders' header_id='header_comment_author' header_class='toc-sub-item' %}
    </fieldset>


    <div id="header_addressees" class="header toc-item">
        <h2>Addressees</h2>
    </div>
    <fieldset>
        {% include "core/component/common_multi_rel_recref_formset.html" with multi_rel_recref_formset=addressee_formset recref_type='person' id_field=corr_form.selected_addressee_id label_add='Add another addressee:' %}

        <div class="multi_rel_recref_container">
        <label> Addressees as marked: </label>
        {{ corr_form.addressees_as_marked }}
        </div>

        <div class="multi_rel_recref_container">
        <label class="name"> Issues with addressees: </label>

        <div class="row-no-margin">
            <div class="margin-right">
                {% include "core/component/common_checkbox.html" with field=corr_form.addressees_inferred name='Addressees inferred' %}
            </div>
            <div class="margin-right">
                {% include "core/component/common_checkbox.html" with field=corr_form.addressees_uncertain  name='Addressees uncertain' %}
            </div>
        </div>
        </div>

        {% include "core/component/comment_publication_formset.html" with comment_formset=addressee_comment_formset comment_title='Notes on addressees' header_id='header_comment_addressee' header_class='toc-sub-item' %}

    </fieldset>

    <div id="header_earlier_letter" class="header toc-item">
        <h2>Earlier letter</h2>
    </div>
    <fieldset>
        {% include "core/component/create_update_recref.html" with recref_type='work' recref_formset=recref_earlier_letter.update_formset new_form=recref_earlier_letter.new_form add_label='Add letter answered by this one:' no_date=True %}
    </fieldset>

    <div id="header_later_letter" class="header toc-item">
        <h2>Later letter</h2>
    </div>
    <fieldset>
        {% include "core/component/create_update_recref.html" with recref_type='work' recref_formset=recref_later_letter.update_formset new_form=recref_later_letter.new_form add_label='Add reply to this:' no_date=True %}
    </fieldset>

    <div id="header_matching" class="header toc-item">
        <h2>Matching letter</h2>
    </div>
    <fieldset>
        {% include "core/component/create_update_recref.html" with recref_type='work' recref_formset=recref_matching_letter.update_formset new_form=recref_matching_letter.new_form add_label='Add another match:' no_date=True %}
    </fieldset>

{% endblock %}