{% extends "work/basic_form.html" %}
{% load static %}
{% block tabcontent %}
    <h1>Work - Other Details</h1>
    <fieldset>
        <label>Source of data:</label>
        <span>(max. 250 characters)</span>
        {{ details_form.accession_code }}

        <label>Editors' notes</label>
        {{ details_form.editors_notes }}
    </fieldset>

    <fieldset>
        <legend id="header_language" class="toc-item">Language(s)</legend>
        {% include "core/component/lang_section.html" with lang_formset=lang_formset new_lang_form=new_lang_form %}
    </fieldset>

    <fieldset>
        <legend>Incipit and explicit</legend>

        <label>Incipit</label>
        {{ details_form.incipit }}

        <label>Explicit</label>
        {{ details_form.explicit }}

        <label>Postscript</label>
        {{ details_form.ps }}
    </fieldset>

    <fieldset>
        <legend id="header_abstract" class="toc-item">Abstract, subjects and keywords</legend>
        <label>Abstract</label>
        {{ details_form.abstract }}

        <label class="margin-right">Subject(s):</label>
        {% for s in subjects %}
            {{ s }}
        {% endfor %}

        <label>Keywords (ideally separated by semi-colons)</label>
        {{ details_form.keywords }}
    </fieldset>

    <fieldset>
        <legend id="header_people" class="toc-item">People mentioned</legend>

        {% include "core/component/create_update_recref.html" with recref_type='person' recref_formset=recref_people.update_formset new_form=recref_people.new_form add_label='Add person mentioned:' no_date=True %}

        {% include "core/component/comment_publication_formset.html" with comment_formset=people_comment_formset %}
    </fieldset>

    <fieldset>
        <legend id="header_place" class="toc-item">Places mentioned</legend>
        {% include "core/component/create_update_recref.html" with recref_type='location' recref_formset=recref_place.update_formset new_form=recref_place.new_form add_label='Add place mentioned:' no_date=True %}
    </fieldset>

    <fieldset>
        <legend id="header_work" class="toc-item">Works mentioned</legend>
        {% include "core/component/create_update_recref.html" with recref_type='work' recref_formset=recref_work.update_formset new_form=recref_work.new_form add_label='Add work mentioned:' no_date=True %}
    </fieldset>

    <fieldset>
        <legend>General notes on work</legend>
        {% include "core/component/comment_publication_formset.html" with comment_formset=general_comment_formset %}
    </fieldset>


    <script src="{% static 'core/js/lang_service.js' %}" defer></script>
    <script>
        $(function () {
            setup_add_lang();
        })
    </script>



{% endblock %}