{% load cl_filters work_util_tags %}

<script>
    let tippies = [];

</script>

<table id="results_table">
    <thead>
    <tr></tr>
    <tr>
        <th>Editors' notes</th>
        <th>Date for ordering</th>
        <th>Author/Sender</th>
        <th>Origin</th>
        <th>Addressee</th>
        <th>Destination</th>
        <th></th>
        <th>Images</th>
        <th>Manifestations</th>
        <th>Related resources</th>
        <th>Subjects</th>
        <th>Other details</th>
        <th>ID</th>
        <th>Last edit</th>
    </tr>
    </thead>
    <tbody>

    {% for r in search_results %}
        <tr class="selectable_entry {% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}"
            entry_id="{{ r.iwork_id }}">

            <td>
                {% if r.editors_notes %}
                    {{ r.editors_notes }}
                {% endif %}
            </td>
            <td>
                {{ r.date_for_ordering }}

                {% if r.date_of_work_as_marked %}
                    <p>As marked: {{ r.date_of_work_as_marked }}</p>
                {% endif %}
            </td>
            <td>
                {% if r.creators_for_display %}
                    {{ r.creators_for_display|linebreaksbr }}
                {% endif %}
            </td>
            <td>
                {% if r.places_from_for_display %}
                    {{ r.places_from_for_display|linebreaksbr }}
                {% endif %}
            </td>
            <td>
                {% if r.addressees_for_display %}
                    {{ r.addressees_for_display|linebreaksbr }}
                {% endif %}
            </td>
            <td>
                {% if r.places_to_for_display %}
                    {{ r.places_to_for_display|linebreaksbr }}
                {% endif %}
            </td>
            <td>
                {% if r.work_to_be_deleted|is_general_true %}
                    {% include 'work/component/delete.html' %}
                {% endif %}

                {% include 'work/component/exclamation.html' with work=r %}
            </td>
            <td>
                {% if r.images %}
                    {{ r.images|render_queryable_images }}
                {% endif %}
            </td>
            <td>
                {% if r.manifestations_for_display %}
                    {{ r.manifestations_for_display|render_queryable_manif }}
                {% endif %}
            </td>
            <td>
                {% if r.related_works %}
                    Matches:
                    {{ r.related_works|display_resources }}
                {% endif %}

                {% if r.related_resources %}
                    Resources:
                    {{ r.related_resources|display_resources }}
                {% endif %}
            </td>
            <td>
                {% if r.subjects_for_display %}
                    {{ r.subjects_for_display }}
                {% endif %}
            </td>
            <td>
                {{ r.other_details }}
            </td>
            <td>
                {% include 'core/component/search_table_layout/link_record.html' with id=r.iwork_id view='work:full_form' %}
            </td>
            <td>
                {{ r.change_timestamp|date:"d M Y H:i" }} by {{ r.change_user }}<br/>
                Source: {{ r.accession_code }}<br/>
                [{{ r.catalogue }}]
            </td>
        </tr>
    {% endfor %}
    </tbody>

</table>
