{% extends "core/emlo_logined.html" %}
{% load static %}

{% block head %}
    <script src="{% static 'location/js/work_form.js' %}" defer></script>
    <script src="/static/core/js/recref_service.js"></script>
    <script src="{% static 'core/js/ref_publication_service.js' %}" defer></script>
    <script defer>
        document.addEventListener('DOMContentLoaded', (e) => {
            setup_work_form_listener()
        });
    </script>
{% endblock %}

{% block content %}

    <div class="row row--centered">
        <div class="col col--1of2">
            <form method="post">
                {% csrf_token %}

                <div class="row-no-margin">
                    <button class="tablinks" content-selector=".tc-corr">Correspondents</button>
                    <button class="tablinks" content-selector=".tc-dates">Dates</button>
                    <button class="tablinks" content-selector=".tc-places">Places</button>
                </div>


                <!-- ****** Correspondents -->
                <div class="tab-content tc-corr">
                    <h1>Work - Correspondents</h1>
                    <fieldset>
                        <legend>Authors / senders</legend>

                        <small>('author/sender' will be deleted if no type selected)</small>
                        <div class="work_person_container">
                            {{ work_person_formset.management_form }}
                            {% for form in work_person_formset  %}
                                {{ form }}
                            {% endfor %}
                        </div>

                        {% include "core/component/recref.html" with recref_type='person' id_field=work_form.sender_person_id label='Add anther authro/sender:' %}

                        <label> Authors/sender as marked: </label>
                        {{ work_form.authors_as_marked }}

                        <label> Issues with authors/senders: </label>

                        {% include "core/component/common_checkbox.html" with field=work_form.authors_inferred name='Authors / senders inferred' %}

                        {% include "core/component/common_checkbox.html" with field=work_form.authors_uncertain  name='Authors / senders uncertain' %}

                        <!-- Comment section -->
                        {% if author_comment_formset %}
                            <h4>Notes on authors/senders</h4>
                            {% include "core/component/comment_publication_formset.html" with comment_formset=author_comment_formset %}
                        {% endif %}


                    </fieldset>
                </div>

                <!-- ****** Dates -->
                <div class="tab-content tc-dates">
                    <h1>Work - Dates</h1>
                    <fieldset>
                        <legend>Dates</legend>
                    </fieldset>
                </div>

                <!-- ****** Places -->
                <div class="tab-content tc-places">
                    <h1>Work - Places</h1>
                    <fieldset>
                        <legend>Places</legend>
                    </fieldset>
                </div>


                <div class="flex-col sticky-bottom">
                    <input type="submit" value="Submit">
                </div>
            </form>


            {#            <h1 class="align-center">Location</h1>#}
            {##}
            {#            <form method="post">#}
            {#                {% csrf_token %}#}
            {##}
            {#                <fieldset>#}
            {#                    <legend>{{ form.form_title__ }}</legend>#}
            {#                    {{ loc_form }}#}
            {#                </fieldset>#}
            {##}
            {#                <div class="flex-col sticky-bottom">#}
            {#                    <input type="submit" value="Submit">#}
            {#                </div>#}
            {#            </form>#}

        </div>
    </div>

{% endblock %}
