

<script>
    let tippies = [];

</script>

<table>
    <thead>
    <tr></tr>
    <tr>
        <!-- KTODO add more fields -->
        <th>Description</th>
        <th>Date for ordering</th>
        <th>Images</th>
        <th>Manifestations</th>
        <th>Related resources</th>
        <th>ID</th>
        <th>Last edit</th>
    </tr>
    </thead>
    <tbody>

    {% for r in search_results %}
        <tr class="selectable_entry" entry_id="{{ r.publication_id }}">


            <td>
                {{ r.description }}
            </td>
            <td>
                {{ r.date_of_work_as_marked }}<
            </td>
            <td>
                {% include 'work/component/exclamation.html' with work=r %}
            </td>
            <td>
                ?
            </td>
            <td>
                ?
            </td>
            <td>
                {{ r.iwork_id }}
            </td>
            <td>
                {{ r.change_timestamp }}
            </td>
        </tr>
    {% endfor %}
    </tbody>

</table>
