### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/*
dist/*
*.egg-info/
.installed.cfg
*.egg

# PyCharm and other IntelliJ-based IDE-s and editors' folder:
.idea
# vim swap files
.*.swp

# Unit test / coverage reports
htmlcov/*
.coverage
.coverage.*
.cache

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Environments
docker/site-edit-2/.env
docker/site-edit-2/.gunweb.env
.venv
env/
venv/

# OSX template
.DS_Store
.AppleDouble
.LSOverride

logs/
staticfiles/
data/
files/

# dev environment file
siteedit2/settings/local_dev.py
siteedit2/settings/local_test.py
siteedit2/settings/gunweb.py
# */migrations

static/core/scss/
core/static/core/scss/main.css
core/management/commands/playground.py
upload/


# tailwind
emlotheme/static/css/dist/styles.css