<div>
    <h1 id="places">Places</h1>

    <p>Details of {{ places| length }} new location{{places|pluralize:",s"}}
        {{places|pluralize:"was, were"}} uploaded in this contribution. </p>
</div>

{% for location in places %}

<div style="margin: 1em;">
    <h3>Places {{ forloop.counter }} of {{ places | length }}</h3>
</div>

{% include "uploader/component/review_nav.html" %}

<table class="review">
    <tr>
        <td class="header">Location name</td>
        <td>{{ location.location_name }}</td>
    </tr>
</table>
<hr/>

{% endfor %}