{% load utils  %}

<tr>
    <td class="header">Date of work</td>
    <td>{{ work.display_date }}

        {% if work.date_of_work_as_marked %}
        <br/>As marked: {{ work.date_of_work_as_marked }}
        {% endif %}

        {% if work.original_calendar %}
        <br/>Original calendar: {{ work.display_original_calendar }}
        {% endif %}

        {% if work.display_date_issues %}
        <br/>{{ work.display_date_issues }}
        {% endif %}

        {% if work.notes_on_date_of_work %}
        <br/>Notes on date: {{ work.notes_on_date_of_work }}
        {% endif %}

    </td>
</tr>
<tr>
    <td class="header">Author{{ work.authors.all|pluralize:",s" }}</td>
    <td>

        {% include "uploader/component/list_person.html" with people=work.authors.all %}

        {% if work.authors_as_marked %}
        As marked: {{ work.authors_as_marked }}<br/>
        {% endif %}

        {% if work.display_authors_issues %}
        {{ work.display_authors_issues }}<br/>
        {% endif %}

        {% if work.notes_on_authors %}
        Notes on author{{ work.authors.all|pluralize:",s" }}: {{ work.notes_on_authors }}<br/>
        {% endif %}
    </td>
</tr>

{% if work.origin_id or work.origin_as_marked or work.display_origin_issues %}

<tr>
    <td class="header">Origin</td>
    <td>
        {% for origin in work.origin.all %}

        {{ origin.location }}

        {% endfor %}

        {% if work.origin_as_marked %}
        <br/>As marked: {{ work.origin_as_marked }}
        {% endif %}

        {% if work.display_origin_issues %}
        <br/>{{ work.display_origin_issues }}
        {% endif %}
    </td>
</tr>

{% endif %}

<tr>
    <td class="header">Addressee{{ work.addressees.all|pluralize:",s" }}</td>
    <td>

        {% include "uploader/component/list_person.html" with people=work.addressees.all %}

        {% if work.addressees_as_marked %}
        As marked: {{ work.addressees_as_marked }}<br/>
        {% endif %}

        {% if work.display_addressees_issues %}
        {{ work.display_addressees_issues }}<br/>
        {% endif %}

        {% if work.notes_on_addressees %}
        Notes on addressee{{ work.addressees.all|pluralize:",s" }}: {{ work.notes_on_addressees }}<br/>
        {% endif %}
    </td>
</tr>

{% if work.destination_id or work.destination_as_marked or work.display_destination_issues %}

<tr>
    <td class="header">Destination</td>
    <td>
        {% for destination in work.destination.all %}

        {{ destination.location }}

        {% endfor %}

        {% if work.destination_as_marked %}
        <br/>As marked: {{ work.destination_as_marked }}
        {% endif %}

        {% if work.display_destination_issues %}
        <br/>{{ work.display_destination_issues }}
        {% endif %}
    </td>
</tr>

{% endif %}

{% if work.languages.all %}
<tr>
    <td class="header">Languages</td>
    <td>{% for language in work.languages.all %}
        {{ language }}<br/>
        {% endfor %}
    </td>
</tr>
{% endif %}

{% if work.incipit %}
<tr>
    <td class="header">Incipit</td>
    <td>{{ work.incipit }}</td>
</tr>
{% endif %}

{% if work.explicit %}
<tr>
    <td class="header">Explicit</td>
    <td>{{ work.explicit }}</td>
</tr>
{% endif %}

{% if work.abstract %}
<tr>
    <td class="header">Abstract</td>
    <td>{{ work.abstract }}</td>
</tr>
{% endif %}

{% if work.keywords %}
<tr>
    <td class="header">Keywords</td>
    <td>{{ work.keywords }}</td>
</tr>
{% endif %}

{% if work.people_mentioned.all %}
<tr>
    <td class="header">{{ work.people_mentioned.all|pluralize:"Person,People" }} mentioned</td>
    <td>

        {% include "uploader/component/list_person.html" with people=work.people_mentioned.all %}

        {% if work.mentioned_as_marked %}
        As marked: {{ work.mentioned_as_marked }}<br/>
        {% endif %}

        {% if work.display_mentioned_issues %}
        {{ work.display_mentioned_issues }}<br/>
        {% endif %}

        {% if work.notes_on_people_mentioned %}
        Notes on {{ work.people_mentioned.all|pluralize:"person,people" }} mentioned: {{ work.notes_on_people_mentioned }}<br/>
        {% endif %}
    </td>
</tr>
{% endif %}

{% if work.manifestations.all %}
<tr>
    <td class="header">Repositories and versions</td>
    <td>
        <ul>
            {% for manifestation in work.manifestations.all %}
            <li>
                {% if manifestation.manifestation_type %}
                Document type: {% document_type manifestation.manifestation_type %}<br/>
                {% endif %}

                {% if manifestation.repository %}
                Repository: {{ manifestation.repository.institution_name }}<br/>
                {% endif %}

                {% if manifestation.id_number_or_shelfmark %}
                Shelfmark: {{ manifestation.id_number_or_shelfmark }}<br/>
                {% endif %}

                {% if manifestation.manifestation_notes %}
                Document notes: {{ manifestation.manifestation_notes }}<br/>
                {% endif %}

                {% if manifestation.printed_edition_details %}
                Printed edition details: {{ manifestation.printed_edition_details }}<br/>
                {% endif %}

                {{ manifestation.manifestation_type_p }}

            </li>
            {% endfor %}
        </ul>
    </td>
</tr>
{% endif %}

{% if work.notes_on_letter %}
<tr>
    <td class="header">General notes</td>
    <td>{{ work.notes_on_letter }}</td>
</tr>
{% endif %}

{% if work.editors_notes %}
<tr>
    <td class="header">Project editors' notes</td>
    <td>{{ work.editors_notes }}</td>
</tr>
{% endif %}

{% if work.resources.all %}
<tr>
    <td class="header">Related resources</td>
    <td>{% for resource in work.resources.all %}
        Description: {{ resource.resource_name }}<br/>
        URL: <a href="{{ resource.resource_url }}">{{ resource.resource_url }}</a><br/>
        Details: {{ resource.resource_details }}<br/>
        {% endfor %}
    </td>
</tr>
{% endif %}