{% load utils  %}

<div class="padding-top">
    <h1 id="works">Works</h1>

    <form>
        <p>
            Details of {{ works_page.paginator.count }} new work{{ works_page.paginator.count|pluralize:" was,s were" }}
            uploaded in this contribution.

            {% if works_page.paginator.count > per_page %}

            You are viewing

            <select name="per_page" style="width: unset;" onchange="this.form.submit();">
                {% for per_page_option in per_page_options %}
                    {% if per_page == per_page_option %}
                        <option selected>{{ per_page_option }}</option>
                    {% else %}
                        <option>{{ per_page_option }}</option>
                    {% endif %}
                {% endfor %}
            </select> per page.

            {% endif %}

        </p>
    </form>
    <!--You can export details of the work{{ works|pluralize:",s"}} in this contribution to a spreadsheet <button>Export</button>-->

</div>

<hr/>

{% include "core/component/pagination.html" with entity='works' page_obj=works_page %}

{% for work in works_page %}
<div style="margin: 1em;">
    <h3>Work {{ forloop.counter0|add:works_page.start_index }} of {{ works_page.paginator.count }}</h3>

    {% include "uploader/component/review_nav.html" %}

</div>

<table class="review">
    <tr>
        <td class="header">Status and possible actions</td>
        <td><strong>{{ work.upload_status }}</strong> (Collect ID: {{ work.iwork_id }})<br/>
            {% if work.upload_status_id == 1 %}
            <button name="accept_{{ work.iwork_id }}" class="btn inline_btn" onclick="actionWork(this);">
                Accept
            </button>
            <button name="reject_{{ work.iwork_id }}" class="btn inline_btn" onclick="actionWork(this);">
                Reject
            </button>
            <br/>
            Note: confirmation will be required before Accept/Reject of work
            {% endif %}
        </td>
    </tr>

    {% include "uploader/component/work.html" %}

</table>

{% endfor %}

{% include "core/component/pagination.html" with entity='works' page_obj=works_page %}
