<table>
    <colgroup>
        <col style="min-width: 80px">
        <col style="min-width: 80px">
        <col style="min-width: 200px">
        <col style="min-width: 120px">
        <col style="min-width: 200px">
        <col>
    </colgroup>
    <thead>
    <tr></tr>
    <tr>
        <th>ID</th>
        <th>Work ID</th>
        <th>Brief details of work</th>
        <th>Document type</th>
        <th>Shelfmark</th>
        <th>Printed edition details</th>
    </tr>
    </thead>
    <tbody>

    {% for r in search_results %}
        <tr class="selectable_entry" entry_id="{{ r.manifestation_id }}">
            <td>
                <a href="{% url 'work:manif_update' r.work.iwork_id r.manifestation_id %}">
                    {{ r.manifestation_id }}
                </a>
            </td>

            <td>
                {% if r.work %}
                    <a href="{% url 'work:full_form' r.work.iwork_id %}">
                        {{ r.work.iwork_id }}
                    </a>
                {% endif %}
            </td>

            <td>
                {% if r.work %}
                    {{ r.work.description }}
                {% endif %}
            </td>

            <td>
                {{ r.manifestation_type }}
            </td>

            <td>
                {{ r.id_number_or_shelfmark }}
            </td>

            <td>
                {{ r.printed_edition_details }}
            </td>

        </tr>
    {% endfor %}
    </tbody>

</table>