{% extends "core/component/actionbox_container.html" %}

{% load cl_filters %}

{% block content %}
    <button class="sticky-btn inline_btn" onclick="location.href='/'; return false;">Cancel</button>
    {% if save_perm|can_show_for_perm:perms %}
        <button type="submit" class="sticky-btn inline_btn"> Save</button>
        <button id="save_close_btn" type="submit" class="sticky-btn inline_btn" style="display: none">
            Save and close
        </button>
    {% endif %}

    <script>

        $(() => {

            if (window.opener && window.opener.on_form_completed) {
                $('#save_close_btn').show()
            }

            $('#save_close_btn').on('click', function (e) {
                e.preventDefault();
                let form_jqe = $(e.target).closest('form')
                form_jqe.append(
                    $('<input type="hidden" name="callback_if_save_success" value="1">')
                )
                form_jqe.submit()
            });

        });

    </script>

{% endblock %}
