<div class="flex-col sticky-bottom">
    <div class="actionbox">
            {% if action == 'reset' %}
            <script>
                function reset_form(form) {
                    for(element of form.elements) {
                        if(element.type == 'reset')
                            break;

                        if(!['hidden', 'fieldset'].includes(element.type))  {
                            if(element.type == 'select-one')    {
                                //element.selectedIndex = 0;
                            }
                            else {
                                element.value = null;
                            }
                        }
                    }
                }
            </script>
            <button class="sticky-btn inline_btn cancel" type="button" onclick="reset_form(this.form);">Reset</button>
            {% else %}
            <button class="sticky-btn inline_btn cancel" onclick="location.href='/'; return false;">Cancel</button>
            {% endif %}
            <button type="submit" class="sticky-btn inline_btn save">
                {% if submit_title %}
                    {{ submit_title }}
                {% else %}
                    Save
                {% endif %}</button>
    </div>
</div>