<!-- remember import ref_publication_service.js -->

{% load cl_filters %}
{{ comment_formset.management_form }}

{% with header_id=header_id|default:'header_comment' %}
    <fieldset>
        <legend
                id="{{ header_id }}"
                class="{{ header_class|default:'toc-item' }}"
        >
            {% if comment_title %}
                {{ comment_title }}
            {% else %}
                Notes
            {% endif %}
        </legend>
        {% for form in comment_formset|reverse_list %}
            <div class="form-note-root">
                <label id="{{ header_id }}_{{ forloop.counter0 }}" class="toc-sub-item">
                    {% if forloop.first %}
                        New note
                    {% else %}
                        Existing note
                    {% endif %}
                </label>
                {{ form.comment }}
                {{ form.comment_id }}

                {% include "core/component/common_delete_checkbox.html" with show_cond=form.comment_id.value field=form.is_delete %}
                {{ form.record_tracker_label }}
                <div class="ref-publication-row" textbox_id="{{ form.comment.id_for_label }}"></div>
            </div>
        {% endfor %}
    </fieldset>
{% endwith %}