<!-- remember import ref_publication_service.js -->

{% load cl_filters %}
{{ comment_formset.management_form }}

{% with header_id=header_id|default:'header_comment' %}
    <div id="{{ header_id }}" class="header {{ header_class|default:'toc-item' }}">
        <h2>{% if comment_title %}
                {{ comment_title }}
            {% else %}
                Notes
            {% endif %}</h2>
    </div>
    <fieldset>

        {% for form in comment_formset|reverse_list %}
            <div class="multi_rel_recref_container">
                <label id="{{ header_id }}_{{ forloop.counter0 }}" class="toc-sub-item">
                    {% if forloop.first %}
                        New note
                    {% else %}
                        Existing note
                    {% endif %}
                </label>
                {{ form.comment }}
                {{ form.comment_id }}

                {% include "core/component/common_delete_checkbox.html" with show_cond=form.comment_id.value field=form.is_delete %}
                {{ form.record_tracker_label }}
            </div>
            <div class="ref-publication-row multi_rel_recref_container" textbox_id="{{ form.comment.id_for_label }}"></div>
        {% endfor %}
    </fieldset>
{% endwith %}