{% load cl_filters %}

{% if constant.PM_CHANGE_WORK in perms %}

<li class="menu-item">
    <a href="#!">New</a>
    <ul class='unstyled-list no-margin menu-subitem'>
        {% include "core/component/common_section_new_menu_item.html" with url_name='work:init_form' section_name='Work' save_perm=constant.PM_CHANGE_WORK %}
        {% include "core/component/common_section_new_menu_item.html" with url_name='person:init_form' section_name='People' save_perm=constant.PM_CHANGE_PERSON %}
        {% include "core/component/common_section_new_menu_item.html" with url_name='location:init_form' section_name='Locations' save_perm=constant.PM_CHANGE_LOCATION %}
        {% include "core/component/common_section_new_menu_item.html" with url_name='institution:init_form' section_name='Repositories' save_perm=constant.PM_CHANGE_INST %}
        {% include "core/component/common_section_new_menu_item.html" with url_name='publication:init_form' section_name='Publications' save_perm=constant.PM_CHANGE_PUBLICATION %}
    </ul>
</li>

{% endif %}
