<!-- remember import ref_publication_service.js -->

{% load cl_filters %}
{{ comment_formset.management_form }}
<fieldset>
    <legend>Notes</legend>
    {% for form in comment_formset|reverse_list %}
        <div>
            <label>
                {% if forloop.first %}
                    New note:
                {% else %}
                    Existing note:
                {% endif %}
            </label>
            {{ form.comment }}
            {{ form.comment_id }}
            {{ form.record_tracker_label }}
            <div class="ref-publication-row" textbox_id="{{ form.comment.id_for_label }}"></div>
        </div>
    {% endfor %}
</fieldset>


<script>
</script>