{% load cl_filters %}

<li class="menu-item">
    <a href="#!">Search</a>
    <ul class='unstyled-list no-margin menu-subitem'>
        {% include "core/component/common_section_search_menu_item.html" with url_name='work:search' section_name='Work' %}
        {% include "core/component/common_section_search_menu_item.html" with url_name='person:search' section_name='People' %}
        {% include "core/component/common_section_search_menu_item.html" with url_name='location:search' section_name='Locations' %}
        {% include "core/component/common_section_search_menu_item.html" with url_name='institution:search' section_name='Repositories' %}
        {% include "core/component/common_section_search_menu_item.html" with url_name='publication:search' section_name='Publications' %}
    </ul>
</li>
