<div class="recref-list">
    {{ recref_formset.management_form }}
    {% for form in recref_formset %}

        <div class="recref-row">
            {{ form.recref_id }}
            {{ form.target_id }}
            <label class="recref-title">
                <a href="{{ form.target_url }}" target="_blank">
                    {{ form.rec_name.value }}
                </a>
            </label>

            {% if not no_date %}
                <div class="inline-from-to margin-right">
                    <small>From:</small>
                    {{ form.from_date }}
                    <small>To:</small>
                    {{ form.to_date }}
                </div>
            {% endif %}
            {{ form.is_delete }}
            <label class="recref-del" for="{{ form.is_delete.id_for_label }}">Delete</label>
        </div>
    {% endfor %}
</div>

{% include "core/component/recref.html" with recref_type=recref_type id_field=new_form.target_id label=add_label hide_create_btn=hide_create_btn %}
{% if not no_date %}
    <label>Relevant dates:</label>
    <div class="inline-from-to">
        <small>From:</small>
        {{ new_form.from_date }}
        <small>To:</small>
        {{ new_form.to_date }}
    </div>
{% endif %}