{% if descriptor and descriptor.name %}
    <div class="form-descriptor">
        <div class="desc-name">
            <h3> {{ descriptor.model_name }}: {{ descriptor.name }}</h3>
            <hr>
            {% include "core/component/actionbox_form.html" with save_perm=constant.PM_CHANGE_WORK %}
            {% include "core/component/close_if_save_success.html" with is_save_success=is_save_success %}
            <hr>
        </div>
    </div>
    <div class="margin-bottom sub-form-desc">
        <small>
            <span class="desc-id">{{ descriptor.model_name }} ID {{ descriptor.id }}.</span>
            {% if descriptor.change_timestamp %}
                Last change {{ descriptor.change_timestamp }}
                by {{ descriptor.change_user }}
            {% endif %}
        </small>
    </div>
{% endif %}
