<div class="merge-detail">

    {% if related_records %}
        <strong>Summary</strong>
        <ul>
            {% for recref_class, records in related_records %}
                <li>({{ records|length }}) {{ recref_class }} </li>
            {% endfor %}
        </ul>
    {% endif %}


    {% if not no_details %}
        {% for recref_class, records in related_records %}
            <strong>{{ recref_class }} ({{ records|length }})</strong>
            <ul>
                {% for r in records %}
                    <li>{{ r }}</li>
                {% endfor %}
            </ul>
        {% empty %}
            <span>No related records.</span>
        {% endfor %}
    {% endif %}
</div>
