{{ form.target_id }}

<div class="grid-item">
    <label class="name">
        <a href="{{ form.target_url }}" target="_blank">
            {% if form.initial_target_id %}[{{ form.initial_target_id }}] {% endif %}{{ form.name.value }}
        </a>
    </label>
</div>
<div class="grid-item">
        {% for recref_form in form.get_recref_forms %}
            <div class="sub-recref-form">
                <div>
                    {{ recref_form.recref_id }}
                    {{ recref_form.is_selected }}
                    <label for="{{ recref_form.is_selected.id_for_label }}">
                        {{ recref_form.rel_type_label }}
                    </label>
                </div>

                {% if not form.no_date %}
                    <div class="inline-from-to">
                        <span>From: &nbsp;</span>
                        {{ recref_form.from_date }}
                        <span>&nbsp; To: &nbsp;</span>
                        {{ recref_form.to_date }}
                        &nbsp; <small>Enter yyyy, mm/yyyy, or dd/mm/yyyy</small>    
                     </div>
                {% endif %}

            </div>
            {% if recref_form.from_date.errors %}
            <div class="recref-row alert danger">
                {{ recref_form.from_date.errors.0 }}
           </div>
            {% endif %}
            {% if recref_form.to_date.errors %}
            <div class="recref-row alert danger">
                 {{ recref_form.to_date.errors.0 }}
            </div>
            {% endif %}
        {% endfor %}
</div>
