<div class="pagination">
  <span class="page-links">
      {% if page_obj.has_previous %}
          <a id="id_previous_page" href="#!" page="{{ page_obj.previous_page_number }}"><button class="btn inline_btn">&lt;</button> </a>
      {% endif %}
      <span class="page-current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
      </span>
      {% if page_obj.has_next %}
          <a id="id_next_page" href="#!" page="{{ page_obj.next_page_number }}"><button class="btn inline_btn">&gt;</button></a>
      {% endif %}
  </span>
</div>