<div class="multi_rel_recref_container">
    <label> Issues with place mentioned: </label>

    <div class="row-no-margin">
        <div class="margin-right">
            {% include "core/component/common_checkbox.html" with field=form.place_mentioned_inferred name='Place mentioned inferred' is_normal_size=True %}
        </div>

        <div class="margin-right">
            {% include "core/component/common_checkbox.html" with field=form.place_mentioned_uncertain name='Place mentioned uncertain' is_normal_size=True %}
        </div>
    </div>
</div>
