<!--
Remember call setup_url_checker, setup_standtext functions
-->
{% load cl_filters %}

{% with header_id=header_id|default:'header_res' %}
    <fieldset>
        <legend id="{{ header_id }}"
                class="{{ header_class|default:'toc-item' }}">
            Resources
        </legend>

        {{ res_formset.management_form }}
        {% for form in res_formset|reverse_list %}
            <fieldset>
                <legend id="{{ header_id }}_{{ forloop.counter0 }}"
                        class="toc-sub-item">

                    {% if forloop.first %}
                        Add a new resource
                    {% else %}
                        Resource no. {{ forloop.counter0 }}. {{ form.resource_name.value }}
                    {% endif %}
                </legend>

                {{ form.resource_id }}
                <div class="margin-bottom">
                    {% include "core/component/common_field_layout.html" with field=form.resource_name %}
                </div>
                <div class="margin-bottom">
                    {% include "core/component/common_field_layout.html" with field=form.resource_url %}
                </div>
                <div class="margin-bottom">
                    {% include "core/component/common_field_layout.html" with field=form.resource_details %}
                </div>

                {% if form.resource_id.value %}
                    <div class="margin-bottom">
                        {% include "core/component/common_checkbox.html" with field=form.is_delete name='Delete' %}
                    </div>
                {% endif %}


                {{ form.record_tracker_label }}

            </fieldset>

        {% endfor %}
    </fieldset>
{% endwith %}