{% extends "core/component/search_fieldset/fieldset.html" %}

{% block fields %}

    {% include "core/component/search_fieldset/field_with_lookup.html" with field=form.username field_lookup=form.username_lookup %}
    {% include "core/component/search_fieldset/field_with_lookup.html" with field=form.email field_lookup=form.email_lookup %}
    {% include "core/component/search_fieldset/field_with_lookup.html" with field=form.surname field_lookup=form.surname_lookup %}
    {% include "core/component/search_fieldset/field_with_lookup.html" with field=form.forename field_lookup=form.forename_lookup %}
    {% include "core/component/common_field_layout.html" with field=form.is_active %}

{% endblock %}