*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  color: $black;
  //background: rgba($midnight-15, 0.25);
}

main {
  display: flex;
  flex-direction: column;
}

article {
  display: block;
}

aside {
  font-size: smaller;
}

ul, ol {
  margin-bottom: $space-sm;
}

dt {
  margin-bottom: $space-xxs;
  color: $mid-grey;
}

figure {
  margin: 0;
}

figcaption {
  padding: $space-xs;
  margin-top: calc(#{$space-md} * -1.5);
}

iframe {
  width: 100%;
  border: 0;
}

a {
  text-decoration: none;
  color: $black-85;

  &:hover, &:focus, &:active {
    color: $midnight;
  }
}

em, i {
  font-style: italic;
  font-variation-settings: 'slnt' -1;
}

strong, b {
  font-weight: 600;
  font-variation-settings: 'wght' 600;
}

blockquote {
  margin: 0 0 $space-sm 0;
}

cite {
  font-style: normal;
}

img {
  display: block;
  width: 100%;
  max-width:  100%;
  height: auto;
}

hr {
  border: 1px solid;
  width: 50vw;
}

table {
  width: 100%;
  font-size: small;
  border-collapse: collapse;
}

thead tr {
  th {
    font-weight: normal;
  }

  + tr {
    border-bottom: 1px solid $black-25;

    th {
      font-weight: 700;
    }
  }
}

tr {
  text-align: left;
}

tbody {
  color: $dark-grey;

  tr {
    border-bottom: 1px solid $black-25;
  }
}

th, td {
  padding: $space-sm $space-unit $space-sm 0;
  border-collapse: collapse;
  vertical-align: top;

  &:last-of-type {
    padding-right: 0;
  }
}

summary {
  cursor: pointer;
}

// Form styles
fieldset {
  padding: $space-sm;
  margin-bottom: $space-md;
  border: 1px solid $black-15;

  legend {
    color: $dark-grey;
    text-transform: uppercase;
    font-size: $typescale-6;
    letter-spacing: 0.075em;
  }
}

label, input, button {
  display: block;
  margin-bottom: $space-xs;
}

input[readonly] {
  background: gainsboro;
}

label {
  display: inline-block;
  font-weight: 600;
  font-weight: 700;
  letter-spacing: 0.045em;
}

input, select, textarea {
  -webkit-appearance: none;
  margin-bottom: $space-sm;
  padding: $space-xs;
  width: 100%;
  background-color: $white;
  border-radius: 0;
  border: 1px solid;
  font-size: $typescale-6;
  font-family: $sans-serif;
}

label + input {
  display: block;
}

input[type="submit"] {
  cursor: pointer;
  background-color: $black;
  color: $white;
}


button {
  padding: $space-xs $space-sm;
  cursor: pointer;
  border: 1px solid $black;
  background-color: $black;
  color: $white;
  font-family: $sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.045em;
}

input[type="checkbox"],
input[type="radio"] {
  display: none; // KTODO should we remove this general css

  + label {
    line-height: 1;
  }

  + label::after {
    content: '\a0';
    display: inline-block;
    margin: 0 $space-xxs 0 0;
    width: $space-sm;
    height: $space-sm;
    line-height: 1.25;
    transition: all 0.35s;
    border: 1px solid $black;
    margin-left: $space-xxs;
    position: relative;
    top: 4px;
  }

  &:checked + label {
    color: $midnight;

    &::after {
      content: '\a0';
      background: $midnight;
      border: 1px solid $white;
      box-shadow: inset 0 0 0 1px $white, 0 0 0 1px $midnight;
    }
  }
}

input[type="radio"] + label {
  display: inline-block;
  margin: 0 $space-xs $space-xs 0;

  &::after {
    border-radius: 50%;
  }
}

::placeholder {
  font-style: italic;
  color: $mid-grey;
}
