.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.font-serif {
  font-family: $serif;
}

.font-sans {
  font-family: $sans-serif;
}

.font-mono {
  font-family: monospace;
}

.fw-200 {
  font-weight: 200;
  letter-spacing: -.025em;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-700 {
  font-weight: 700;
}

.fw-900 {
  font-weight: 900;
}

.display-block {
  display: block;
}

.display-inline-block {
  display: inline-block;
}

.type-1 {
  font-size: $typescale-1;
  line-height: 1.3;
}

.type-2 {
  font-size: $typescale-2;
  line-height: 1.25;
}

.type-3 {
  font-size: $typescale-3;
  line-height: 1.2;
}

.type-4 {
  font-size: $typescale-4;
}

.type-5 {
  font-size: $typescale-5;
}

.type-6 {
  font-size: $typescale-6;
}

.type-unit {
  font-size: 1rem;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;

  ul, ol {
    list-style-position: inside;
  }
}

@media only screen and (min-width: 768px) {
  .border-left {
    border-left: 1px solid;
  }

  .border-right {
    border-right: 1px solid;
  }
}

.border-bottom {
  border-bottom: 1px solid;
}

.border-top {
  border-top: 1px solid;
}

.border-top-thick {
  border-top: 3px solid;
}

.bg-white {
  background-color: $white;
  color: $black;
}

.bg-white a {
  color: $black;
}

.bg-white-15 {
  background-color: $white-15;
  color: $white;
}

.bg-white-75 {
  background-color: $white-75;
}

.bg-black-15 {
  background-color: $black-15;
  color: $black;
}

.bg-black-85 {
  display: inline-block;
  background-color: $black-85;
}

.bg-black {
  background-color: $black;
  color: $white;
}

.bg-midnight {
  background-color: $midnight;
  color: $white;
}

.bg-black a,
.bg-midnight a {
  color: $white;
}

.padding-top {
  padding-top: 1em;
}

.padding-top-xl {
  padding-top: $space-xl;
}

.no-margin {
  margin: 0;
}

.margin-right {
  margin-right: 1em;
}

.margin-bottom {
  margin-bottom: 1em;
}

.margin-bottom-sm {
  margin-bottom: $space-sm;
}

.margin-bottom-xl {
  margin-bottom: $space-xl;
}

.blend-difference {
  mix-blend-mode: difference;
}

.blend-screen {
  mix-blend-mode: screen;
}

.bw {
  display: block;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: .75;
  transition: all .15s ease-in-out;
}

.bw:hover, .bw:focus {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  opacity: 1;
}

.flex {
  display: flex;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.unstyled-list {
  margin-top: 0;
  margin-bottom: $space-md;
  padding-left: 0;
  list-style: none;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.unstyled-list li:before {
  display: none;
}

@media only screen and (max-width: 1023px) {
  .unstyled-list li:not(:last-child) svg {
    margin-bottom: $space-md;
  }
}

.inlined-list {
  padding: 0;
  list-style: none;
}

.inlined-list li {
  display: inline;
}

.flash-colours:hover {
  animation: flash 4s ease-in-out infinite;
}

@media only screen and (min-width: 1024px) {
  .sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }

  .sticky-bottom {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
  }
}
