{% extends "core/component/search_fieldset/fieldset.html" %}

{% block fields %}

    <!-- Institution name -->
    {% include "core/component/search_fieldset/field_with_lookup.html" with field=form.institution_name field_lookup=form.institution_name_lookup %}

    <!-- Institution city -->
    {% include "core/component/search_fieldset/field_with_lookup.html" with field=form.institution_city field_lookup=form.institution_city_lookup %}

    <!-- Institution country -->
    {% include "core/component/search_fieldset/field_with_lookup.html" with field=form.institution_country field_lookup=form.institution_country_lookup %}

    <!-- Related resources -->
    {% include "core/component/search_fieldset/field_with_lookup.html" with field=form.resources field_lookup=form.resources_lookup %}

     <!-- Editor's notes -->
    {% include "core/component/search_fieldset/field_with_lookup.html" with field=form.editors_notes field_lookup=form.editors_notes_lookup %}

    <!-- Images -->
    {% include "core/component/search_fieldset/field_with_lookup.html" with field=form.images field_lookup=form.images_lookup %}

    <!-- Last edit -->
    {% include "core/component/search_fieldset/from_to_year.html" with title='Last edit' from_field=form.change_timestamp_from to_field=form.change_timestamp_to field_info=form.change_timestamp_info %}

    <!-- Last changed by-->
    {% include "core/component/search_fieldset/field_with_lookup.html" with field=form.change_user field_lookup=form.change_user_lookup %}

    {% include "core/component/search_fieldset/field_with_lookup.html" with field=form.institution_id field_lookup=form.institution_id_lookup %}

{% endblock %}