{% extends "core/emlo_logined.html" %}

{% block content %}

    <h1> Welcome to EMLO Edit </h1>
    <br>
    <p>Early Modern Letters Online is a union catalogue that stores metadata, i.e. data about letters. The EMLO database
has the capacity to include letter metadata for a wide range of fields. </p>
    <p>EMLO Edit interface deals with letters, referred to as a work. Each work is associated with the following entities</p>
    <ul class="main_menu">
        <li>
            <a href="{% url 'work:search' %}">
                <span data-feather="file" class="feather-large" aria-hidden="true"></span>Works</a>
        </li>
        <li>
            <a href="{% url 'person:search' %}">
                <span data-feather="user" class="feather-large" aria-hidden="true"></span>People</a>
        </li>
        <li>
            <a href="{% url 'location:search' %}"><span data-feather="map" class="feather-large" aria-hidden="true"></span>Locations</a>
        </li>
        <li>
            <a href="{% url 'institution:search' %}"><span data-feather="package" class="feather-large" aria-hidden="true"></span>Repositories</a>
        </li>
        <li>
            <a href="{% url 'publication:search' %}"><span data-feather="edit" class="feather-large" aria-hidden="true"></span>Publications</a>
        </li>
        <li>
            <a href="{% url 'lookups:roles' %}" title="Add or edit catalogues" target="_self" tabindex="1"><span data-feather="clipboard" class="feather-large" aria-hidden="true"></span>Professional categories</a>
        </li>
        <li>
            <a href="{% url 'lookups:catalogues' %}" title="Add or edit catalogues" target="_self" tabindex="1"><span data-feather="clipboard" class="feather-large" aria-hidden="true"></span>Subjects</a>
        </li>
        <li>
            <a href="{% url 'lookups:catalogues' %}" title="Add or edit catalogues" target="_self" tabindex="1"><span data-feather="clipboard" class="feather-large" aria-hidden="true"></span>Catalogues</a>
        </li>
        <li>
            <a href="{% url 'lookups:catalogues' %}" title="Add or edit catalogues" target="_self" tabindex="1"><span data-feather="clipboard" class="feather-large" aria-hidden="true"></span>Organisation types</a>
        </li>
        <!--<li class="item_109">
            <a href="/union.php?menu_item_id=109" title="Add or edit 'speed entry' titles for resources" target="_self" tabindex="1">Add or edit 'speed entry' titles for resources</a>
        </li>
        <li class="item_111">
            <a href="/union.php?menu_item_id=111" title="Add or edit professional categories" target="_self" tabindex="1">Add or edit professional categories</a>
        </li>
        <li class="item_113">
            <a href="/union.php?menu_item_id=113" title="Add or edit organisation types" target="_self" tabindex="1">Add or edit organisation types</a>
        </li>
        <li class="item_115">
            <a href="/union.php?menu_item_id=115" title="Add or edit catalogues" target="_self" tabindex="1">Add or edit catalogues</a>
        </li>-->
    </ul>

{% endblock %}