{% extends "core/emlo_logined.html" %}
{% load cl_filters %}

{% block content %}

    <h1> Welcome to EMLO Edit </h1>
    <br>
    <p>Early Modern Letters Online is a union catalogue that stores metadata, i.e. data about letters. The EMLO database
        has the capacity to include letter metadata for a wide range of fields. </p>
    <p>EMLO Edit interface deals with letters, referred to as a work. Each work is associated with the following
        entities</p>
    <ul class="main_menu">
        <li>
            <a href="{% url 'work:search' %}">
                <span data-feather="file" class="feather-large" aria-hidden="true"></span>Works</a>
        </li>
        <li>
            <a href="{% url 'person:search' %}">
                <span data-feather="user" class="feather-large" aria-hidden="true"></span>People</a>
        </li>
        <li>
            <a href="{% url 'location:search' %}"><span data-feather="map" class="feather-large"
                                                        aria-hidden="true"></span>Locations</a>
        </li>
        <li>
            <a href="{% url 'institution:search' %}"><span data-feather="package" class="feather-large"
                                                           aria-hidden="true"></span>Repositories</a>
        </li>
        <li>
            <a href="{% url 'publication:search' %}"><span data-feather="edit" class="feather-large"
                                                           aria-hidden="true"></span>Publications</a>
        </li>
    </ul>

    {% if constant.PM_VIEW_LOOKUPCAT in perms %}
    <p>In addition to the above main entities the following supportive entities can be edited:</p>

    <ul class="main_menu">
        {%  if constant.PM_CHANGE_ROLECAT in perms %}
        <li>
            <a href="{% url 'list:roles' %}" title="Add or edit roles" target="_self" tabindex="1"><span
                    data-feather="clipboard" class="feather-large" aria-hidden="true"></span>Roles</a>
        </li>
        {% endif %}
        {%  if constant.PM_CHANGE_SUBJECT in perms %}
        <li>
            <a href="{% url 'list:subjects' %}" title="Add or edit subjects" target="_self" tabindex="1"><span
                    data-feather="clipboard" class="feather-large" aria-hidden="true"></span>Subjects</a>
        </li>
        {% endif %}
        {%  if constant.PM_VIEW_LOOKUPCAT in perms %}
        <li>
            <a href="{% url 'catalogue:search' %}" title="Add or edit catalogues" target="_self" tabindex="1"><span
                    data-feather="clipboard" class="feather-large" aria-hidden="true"></span>Catalogues</a>
        </li>
        {% endif %}
        {%  if constant.PM_CHANGE_ORGTYPE in perms %}
        <li>
            <a href="{% url 'list:orgtypes' %}" title="Add or edit organisation types" target="_self"
               tabindex="1"><span data-feather="clipboard" class="feather-large" aria-hidden="true"></span>Organisation
                types</a>
        </li>
        {% endif %}
        {%  if constant.PM_CHANGE_ROLECAT in perms %}
        <li>
            <a href="{% url 'lang:search' %}" title="Add or edit language" target="_self" tabindex="1">
                <span data-feather="clipboard" class="feather-large" aria-hidden="true"></span>
                Languages
            </a>
        </li>
        {% endif %}
        {% if constant.PM_CHANGE_USER|can_show_for_perm:perms %}
            <li>
                <a href="{% url 'user:search' %}" title="Search user" target="_self" tabindex="1">
                    <span data-feather="clipboard" class="feather-large" aria-hidden="true"></span>
                    User
                </a>
            </li>
        {% endif %}

    </ul>

    {% endif %}

    <p>You can also provide suggestions:</p>

    <ul class="main_menu">
        <li>
            <a href="{% url 'suggestions:suggestion_all' %}" title="Make a suggestion" target="_self" tabindex="1"><span
                    data-feather="clipboard" class="feather-large" aria-hidden="true"></span>Suggestions</a>
        </li>
    </ul>

    {% if constant.PM_TRIGGER_EXPORTER|can_show_for_perm:perms %}
        <div class="margin-top-xl">
            <h2>Export</h2>
            {% if is_exporting %}
                <p>Exporter is pending...</p>
            {% else %}
                <p>Click to start an export this evening</p>
                <form action="{% url 'misc:trigger_export' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Export</button>
                </form>
            {% endif %}
        </div>
    {% endif %}




{% endblock %}