{% extends "core/emlo_logined.html" %}

{% block content %}

    <h1> Login </h1>
    <ul>
        <li><a href="{% url 'login:gate' %}">Login page</a></li>
    </ul>

    <h1>Admin</h1>
    <ul>
        <li><a href="{% url 'admin:index' %}">Admin</a></li>
    </ul>

    <h1> Location </h1>
    <ul>
        <li><a href="{% url 'location:init_form' %}">Create</a></li>
        <li><a href="{% url 'location:search' %}">Search</a></li>
    </ul>

    <h1>Uploader</h1>
    <ul>
        <li><a href="{% url 'uploader:upload_form' %}">Upload form</a></li>
    </ul>
{% endblock %}