{% extends "core/emlo_logined.html" %}

{% block header %}
    <div class="flex-center">
        <h2 class="page-header__heading">Union Catalogue Editing Interface</h2>
    </div>
{% endblock %}

{% block content %}
    <div class="row row--centered">
        <div class="col col--1of3">
            <header>
                <h1>User login</h1>
                <p>Access is permitted only to authorised users of the Union Catalogue Editing Interface.</p>
            </header>

            <form class="flex-col" id="emlo-login" method="post">

                {% csrf_token %}
                {{ form.as_p }}

                <button class="btn">Login</button>
            </form>
        </div>
    </div>
{% endblock %}