{% extends "core/emlo_logined.html" %}

{% block header %}
    <div class="flex-center">
        <h2 class="page-header__heading">Union Catalogue Editing Interface</h2>
    </div>
{% endblock %}

{% block content %}
    <div class="row row--centered">
        <div class="col col--1of3">
            <header>
                <h1>Reset password</h1>
            </header>

            <p>Enter your email address and we will send you a link to reset your password.</p>

            <form class="flex-col" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn">Send reset link</button>
            </form>
        </div>
    </div>
{% endblock %}
