{% extends "core/emlo_logined.html" %}

{% block header %}
    <div class="flex-center">
        <h2 class="page-header__heading">Union Catalogue Editing Interface</h2>
    </div>
{% endblock %}

{% block content %}
    <div class="row row--centered">
        <div class="col col--1of3">
            <header>
                <h1>Set new password</h1>
            </header>

            {% if validlink %}
                <form class="flex-col" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn">Set password</button>
                </form>
            {% else %}
                <p>This password reset link is invalid or has already been used. Please request a new one.</p>
                <a href="{% url 'login:password-reset' %}" class="btn">Request new link</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
