{% extends "core/emlo_logined.html" %}

{% block header %}
    <div class="flex-center">
        <h2 class="page-header__heading">Union Catalogue Editing Interface</h2>
    </div>
{% endblock %}

{% block content %}
    <div class="row row--centered">
        <div class="col col--1of3">
            <header>
                <h1>Reset link sent</h1>
            </header>

            <p>If an account exists with that username, a password reset link has been sent. Please check your inbox.</p>

            <a href="{% url 'login:gate' %}" class="btn">Back to login</a>
        </div>
    </div>
{% endblock %}
