{% extends "core/emlo_logined.html" %}

{% block header %}
    <div class="flex-center">
        <h2 class="page-header__heading">Union Catalogue Editing Interface</h2>
    </div>
{% endblock %}

{% block content %}
    <div class="row row--centered">
        <div class="col col--1of3">
            <header>
                <h1>Password reset complete</h1>
            </header>

            <p>Your password has been set. You can now log in with your new password.</p>

            <a href="{% url 'login:gate' %}" class="btn">Login</a>
        </div>
    </div>
{% endblock %}
