<fieldset>
    <legend>{{ form.title }}</legend>

    {{ form.iperson_id.errors }}
    {{ form.iperson_id.label_tag }}
    {{ form.iperson_id }}


    {% include "core/component/search_fieldset/field_with_lookup.html" with field=form.foaf_name field_lookup=form.foaf_name_lookup %}

    {% include "core/component/search_fieldset/from_to_year.html" with title='Born' from_field=form.birth_year_from to_field=form.birth_year_to %}
    {% include "core/component/search_fieldset/from_to_year.html" with title='Died' from_field=form.death_year_from to_field=form.death_year_to %}
    {% include "core/component/search_fieldset/from_to_year.html" with title='Flourished' from_field=form.flourished_year_from to_field=form.flourished_year_to %}
</fieldset>