<fieldset>
    <legend>{{ form.title }}</legend>

    {% include "core/component/search_fieldset/field_with_lookup.html" with field=form.iperson_id field_lookup=form.iperson_id_lookup %}

    {% include "core/component/search_fieldset/field_with_lookup.html" with field=form.foaf_name field_lookup=form.foaf_name_lookup %}

    {% include "core/component/search_fieldset/from_to_year.html" with title='Born year' from_field=form.birth_year_from to_field=form.birth_year_to %}
    {% include "core/component/search_fieldset/from_to_year.html" with title='Died year' from_field=form.death_year_from to_field=form.death_year_to %}
    {% include "core/component/search_fieldset/from_to_year.html" with title='Flourished year' from_field=form.flourished_year_from to_field=form.flourished_year_to %}

    {% include "core/component/common_field_layout.html" with field=form.gender %}

    {% include "core/component/search_fieldset/field_with_lookup.html" with field=form.editors_notes field_lookup=form.editors_notes_lookup %}

    {% include "core/component/search_fieldset/field_with_lookup.html" with field=form.further_reading field_lookup=form.further_reading_lookup %}

    {% include "core/component/search_fieldset/from_to_year.html" with title='Change timestamp' from_field=form.change_timestamp_from to_field=form.change_timestamp_to %}

    {% include "core/component/search_fieldset/field_with_lookup.html" with field=form.change_user field_lookup=form.change_user_lookup %}



</fieldset>