.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; }

.font-serif {
  font-family: serif; }

.font-sans {
  font-family: sans-serif; }

.font-mono {
  font-family: monospace; }

.fw-200 {
  font-weight: 200;
  letter-spacing: -.025em; }

.fw-300 {
  font-weight: 300; }

.fw-400 {
  font-weight: 400; }

.fw-700 {
  font-weight: 700; }

.fw-900 {
  font-weight: 900; }

.display-block {
  display: block; }

.display-inline-block {
  display: inline-block; }

.type-1 {
  font-size: 2.488em;
  line-height: 1.3; }

.type-2 {
  font-size: 2.074em;
  line-height: 1.25; }

.type-3 {
  font-size: 1.728em;
  line-height: 1.2; }

.type-4 {
  font-size: 1.44em; }

.type-5 {
  font-size: 1.2em; }

.type-6 {
  font-size: 0.833em; }

.type-unit {
  font-size: 1rem; }

.align-center {
  text-align: center; }

.align-right {
  text-align: right; }
  .align-right ul, .align-right ol {
    list-style-position: inside; }

@media only screen and (min-width: 768px) {
  .border-left {
    border-left: 1px solid; }
  .border-right {
    border-right: 1px solid; } }

.border-bottom {
  border-bottom: 1px solid; }

.border-top {
  border-top: 1px solid; }

.border-top-thick {
  border-top: 3px solid; }

.bg-white {
  background-color: white;
  color: #24201e; }

.bg-white a {
  color: #24201e; }

.bg-white-15 {
  background-color: rgba(255, 255, 255, 0.15);
  color: white; }

.bg-white-75 {
  background-color: rgba(255, 255, 255, 0.75); }

.bg-black-15 {
  background-color: rgba(36, 32, 30, 0.15);
  color: #24201e; }

.bg-black-85 {
  display: inline-block;
  background-color: rgba(36, 32, 30, 0.85); }

.bg-black {
  background-color: #24201e;
  color: white; }

.bg-midnight {
  background-color: #172854;
  color: white; }

.bg-black a,
.bg-midnight a {
  color: white; }

.padding-top {
  padding-top: 1em; }

.padding-top-xl {
  padding-top: calc(2.5 * 1rem); }

.no-margin {
  margin: 0; }

.no-padding {
  padding: 0; }

.margin-right {
  margin-right: 1em; }

.margin-bottom {
  margin-bottom: 1em; }

.margin-bottom-sm {
  margin-bottom: calc(.75 * 1rem); }

.margin-bottom-xl {
  margin-bottom: calc(2.5 * 1rem); }

.blend-difference {
  mix-blend-mode: difference; }

.blend-screen {
  mix-blend-mode: screen; }

.bw {
  display: block;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: .75;
  transition: all .15s ease-in-out; }

.bw:hover, .bw:focus {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  opacity: 1; }

.flex {
  display: flex; }

.flex-wrap {
  display: flex;
  flex-wrap: wrap; }

.flex-col {
  display: flex;
  flex-direction: column; }

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center; }

.flex-end {
  display: flex;
  justify-content: flex-end; }

.flex-space-between {
  display: flex;
  justify-content: space-between; }

.unstyled-list {
  margin-top: 0;
  margin-bottom: calc(1.5 * 1rem);
  padding-left: 0;
  list-style: none; }
  .unstyled-list:last-of-type {
    margin-bottom: 0; }

.unstyled-list li:before {
  display: none; }

@media only screen and (max-width: 1023px) {
  .unstyled-list li:not(:last-child) svg {
    margin-bottom: calc(1.5 * 1rem); } }

.inlined-list {
  padding: 0;
  list-style: none; }

.inlined-list li {
  display: inline; }

.flash-colours:hover {
  animation: flash 4s ease-in-out infinite; }

@media only screen and (min-width: 1024px) {
  .sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0; }
  .sticky-bottom {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0; } }

.fixed-right-bottom {
  position: fixed;
  bottom: 0;
  right: 20px; }

.hiding {
  display: none; }

/* Grid: to be used for general layout only */
body {
  padding: 0 1.5vw;
  margin: 0 auto;
  max-width: 100%; }

@media only screen and (min-width: 2560px) {
  body {
    padding: 0 calc(1.5vw * 3); } }

.row, .row-no-margin, .row-from-to, .row-date-fields, .ref-publication-row, .row-spaced {
  display: flex;
  flex: 0 1 auto;
  flex-wrap: wrap;
  margin-left: -1.5vw;
  margin-right: -1.5vw; }

.row--centered {
  justify-content: center; }

@media only screen and (min-width: 768px) {
  .row, .row-no-margin, .row-from-to, .row-date-fields, .ref-publication-row, .row-spaced {
    flex-direction: row; } }

.col {
  flex: 0 0 auto;
  padding: 0 1.5vw;
  flex-basis: 100%;
  max-width: 100%; }

.col--group {
  padding: 0; }

.col--1of1,
.col--2of2,
.col--3of3,
.col--4of4,
.col--5of5,
.col--6of6 {
  flex-basis: 100%;
  max-width: 100%; }

.col--1of4,
.col--1of6 {
  flex-basis: 50%;
  max-width: 50%; }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .col--1of4 {
    flex-basis: 50%;
    max-width: 50%; }
  .col--3of4 {
    flex-basis: 100%;
    max-width: 100%; }
  .col--1of2,
  .col--2of4,
  .col--3of6 {
    flex-basis: 75%;
    max-width: 75%; }
  .col--1of3,
  .col--2of6 {
    flex-basis: 50%;
    max-width: 50%; }
  .col--1of6 {
    flex-basis: 33.3333333%;
    max-width: 33.3333333%; }
  .col--2of3,
  .col--4of6 {
    flex-basis: 100%;
    max-width: 100%; }
  .col--5of6 {
    flex-basis: 100%;
    max-width: 100%; } }

@media only screen and (min-width: 1024px) {
  .col--1of5 {
    flex-basis: 20%;
    max-width: 20%; }
  .col--1of4 {
    flex-basis: 25%;
    max-width: 25%; }
  .col--2of5, .row-from-to input, .row-from-to select {
    flex-basis: 40%;
    max-width: 40%; }
  .col--3of5 {
    flex-basis: 60%;
    max-width: 60%; }
  .col--3of4 {
    flex-basis: 75%;
    max-width: 75%; }
  .col--4of5 {
    flex-basis: 80%;
    max-width: 80%; }
  .col--1of2,
  .col--2of4,
  .col--3of6 {
    flex-basis: 50%;
    max-width: 50%; }
  .col--1of3,
  .col--2of6 {
    flex-basis: 33.3333333%;
    max-width: 33.3333333%; }
  .col--1of6 {
    flex-basis: 16.6666667%;
    max-width: 16.6666667%; }
  .col--2of3,
  .col--4of6 {
    flex-basis: 66.6666667%;
    max-width: 66.6666667%; }
  .col--5of6 {
    flex-basis: 83.3333333%;
    max-width: 83.3333333%; } }

html {
  font-size: 14px;
  font-family: sans-serif;
  font-weight: 400;
  letter-spacing: 0.015em; }

@media only screen and (min-width: 768px) {
  html {
    font-size: 18px; } }

@media only screen and (min-width: 2560px) {
  html {
    font-size: 20px; } }

body {
  line-height: 1.45;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 calc(.5 * 1rem) 0;
  font-family: serif;
  font-weight: 400;
  line-height: 1.15;
  letter-spacing: -0.01em; }

/* Typescale in minor third */
h1 {
  margin-top: 0;
  font-size: 2.488em; }

h2 {
  font-size: 2.074em; }

h3 {
  font-size: 1.728em; }

h4 {
  font-size: 1.44em; }

h5 {
  font-size: 1.2em; }

h6, small {
  font-size: 0.833em; }

p, dd, dl, details {
  margin: 0 0 calc(.75 * 1rem) 0; }

summary {
  margin-bottom: calc(.25 * 1rem); }

*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  scroll-behavior: smooth;
  color: #24201e; }

main {
  display: flex;
  flex-direction: column; }

article {
  display: block; }

aside {
  font-size: smaller; }

ul, ol {
  margin-bottom: calc(.75 * 1rem); }

dt {
  margin-bottom: calc(.25 * 1rem);
  color: #898785; }

figure {
  margin: 0; }

figcaption {
  padding: calc(.5 * 1rem);
  margin-top: calc(calc(1.5 * 1rem) * -1.5); }

iframe {
  width: 100%;
  border: 0; }

a {
  text-decoration: none;
  color: rgba(36, 32, 30, 0.85); }
  a:hover, a:focus, a:active {
    color: #172854; }

em, i {
  font-style: italic;
  font-variation-settings: 'slnt' -1; }

strong, b {
  font-weight: 600;
  font-variation-settings: 'wght' 600; }

blockquote {
  margin: 0 0 calc(.75 * 1rem) 0; }

cite {
  font-style: normal; }

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto; }

hr {
  border: 1px solid;
  width: 50vw; }

table {
  width: 100%;
  font-size: small;
  border-collapse: collapse; }

thead tr th {
  font-weight: normal; }

thead tr + tr {
  border-bottom: 1px solid rgba(36, 32, 30, 0.25); }
  thead tr + tr th {
    font-weight: 700; }

tr {
  text-align: left; }

tbody {
  color: #54504f; }
  tbody tr {
    border-bottom: 1px solid rgba(36, 32, 30, 0.25); }

th, td {
  padding: calc(.75 * 1rem) 1rem calc(.75 * 1rem) 0;
  border-collapse: collapse;
  vertical-align: top; }
  th:last-of-type, td:last-of-type {
    padding-right: 0; }

summary {
  cursor: pointer; }

fieldset {
  padding: calc(.75 * 1rem);
  margin-bottom: calc(1.5 * 1rem);
  border: 1px solid rgba(36, 32, 30, 0.15); }
  fieldset legend {
    color: #54504f;
    text-transform: uppercase;
    font-size: 0.833em;
    letter-spacing: 0.075em; }

label, input, button {
  display: block;
  margin-bottom: calc(.5 * 1rem); }

input[readonly] {
  background: gainsboro; }

label {
  font-weight: 600;
  font-weight: 700;
  letter-spacing: 0.045em; }

input, select, textarea {
  -webkit-appearance: none;
  margin-bottom: calc(.75 * 1rem);
  padding: calc(.5 * 1rem);
  width: 100%;
  background-color: white;
  border-radius: 0;
  border: 1px solid;
  font-size: 0.833em;
  font-family: sans-serif; }

label + input {
  display: block; }

input[type="submit"] {
  cursor: pointer;
  background-color: #24201e;
  color: white; }

button {
  padding: calc(.5 * 1rem) calc(.75 * 1rem);
  cursor: pointer;
  border: 1px solid #24201e;
  background-color: #24201e;
  color: white;
  font-family: sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.045em; }

input[type="checkbox"],
input[type="radio"] {
  display: none; }
  input[type="checkbox"] + label,
  input[type="radio"] + label {
    line-height: 1; }
  input[type="checkbox"] + label::after,
  input[type="radio"] + label::after {
    content: '\a0';
    display: inline-block;
    margin: 0 calc(.25 * 1rem) 0 0;
    width: calc(.75 * 1rem);
    height: calc(.75 * 1rem);
    line-height: 1.25;
    transition: all 0.35s;
    border: 1px solid #24201e; }
  input[type="checkbox"]:checked + label,
  input[type="radio"]:checked + label {
    color: #172854; }
    input[type="checkbox"]:checked + label::after,
    input[type="radio"]:checked + label::after {
      content: '\a0';
      background: #172854;
      border: 1px solid white;
      box-shadow: inset 0 0 0 1px white, 0 0 0 1px #172854; }

input[type="radio"] + label {
  display: inline-block;
  margin: 0 calc(.5 * 1rem) calc(.5 * 1rem) 0; }
  input[type="radio"] + label::after {
    border-radius: 50%; }

::placeholder {
  font-style: italic;
  color: #898785; }

.btn {
  padding: calc(.25 * 1rem) calc(.5 * 1rem);
  border: 1px solid;
  border-radius: calc(.25 * 1rem);
  transition: 200ms all ease-in-out; }
  .btn:hover, .btn:focus, .btn:active {
    background-color: rgba(36, 32, 30, 0.15);
    border-color: rgba(36, 32, 30, 0.15);
    color: #24201e; }

.btn--primary {
  background-color: #172854;
  color: white; }
  .btn--primary:hover, .btn--primary:focus, .btn--primary:active {
    background-color: #24201e;
    color: white; }

.tippy-box[data-theme~='dropdown'] {
  border-radius: 0; }
  .tippy-box[data-theme~='dropdown'] .tippy-content {
    padding: 0; }
  .tippy-box[data-theme~='dropdown'] li a {
    display: block;
    padding: calc(.75 * 1rem);
    background-color: #172854;
    color: white; }
    .tippy-box[data-theme~='dropdown'] li a:hover, .tippy-box[data-theme~='dropdown'] li a:active, .tippy-box[data-theme~='dropdown'] li a:focus {
      background-color: #EFC319;
      color: #24201e; }

.feather {
  height: 1em;
  width: auto;
  line-height: 1; }

.label {
  margin: 0 0 calc(.5 * 1rem) 0;
  text-transform: uppercase;
  font-weight: 700;
  font-family: sans-serif;
  font-size: 0.833em;
  letter-spacing: 0.045em;
  line-height: 1.35; }

.label--secondary {
  text-transform: none;
  letter-spacing: 0; }

.label + h1,
.label + h2,
.label + h3,
.label + h4,
.label + h5 {
  margin-top: calc(.5 * 1rem); }

.tag {
  display: inline-block;
  padding: calc(.05 * 1rem) calc(.5 * 1rem);
  border-radius: 99999px; }
  .tag:hover, .tag:focus, .tag:active {
    background-color: rgba(36, 32, 30, 0.15);
    border-color: rgba(36, 32, 30, 0.15); }

.tippy-box {
  background-color: rgba(36, 32, 30, 0.85);
  color: #fff;
  font-weight: normal;
  line-height: 1.5;
  text-transform: none;
  --tw-drop-shadow: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow); }

.tippy-arrow {
  color: rgba(36, 32, 30, 0.85); }

[data-tippy-content], sup > svg {
  cursor: pointer; }

.search-result {
  padding: calc(.75 * 1rem) calc(.75 * 1rem) 0 calc(.75 * 1rem);
  margin-bottom: calc(1.5 * 1rem);
  border-radius: calc(.25 * 1rem);
  background-color: rgba(255, 255, 255, 0.75);
  font-size: 0.833em;
  box-shadow: rgba(36, 32, 30, 0.15) 0px 1px 2px 0px, rgba(36, 32, 30, 0.15) 0px 2px 6px 2px; }

.search-result__date time + time {
  color: rgba(36, 32, 30, 0.75); }

.search-results__abstract {
  color: rgba(36, 32, 30, 0.75); }

.page-header {
  margin: 0 -1.5vw calc(1.5 * 1rem);
  padding: calc(.5 * 1rem) 0; }
  .page-header a {
    font-size: 0.833em; }
    .page-header a:hover, .page-header a:focus, .page-header a:active {
      color: #EFC319; }

.page-header__heading {
  margin: 0; }

.page-footer {
  margin-top: calc(2.5 * 1rem);
  padding-bottom: calc(2 * 1rem); }

.url_checker_div {
  display: flex; }
  .url_checker_div button {
    background-color: black; }

.standtext_btn {
  border-style: dashed;
  border-width: 1px;
  border-color: black;
  margin-right: 10px;
  margin-top: -2px;
  margin-bottom: 15px;
  cursor: pointer; }

.record_tracker_label {
  font-size: 14px;
  font-style: italic;
  font-variation-settings: 'slnt' -1;
  margin-bottom: 15px; }

.inline_btn {
  display: inline; }

tr.selectable_entry:hover {
  background: #f2f2f2; }

.selectable_entry.selected {
  background-color: gray; }

.menu-item {
  position: relative;
  margin-right: 1em;
  height: 25px;
  display: inline-block; }

.menu-subitem {
  position: absolute;
  left: 5px;
  z-index: 100;
  min-width: 150px;
  background-color: #172854;
  display: none; }

.menu-item:hover .menu-subitem {
  display: block; }

.menu-subitem li {
  padding: 10px; }
  .menu-subitem li:hover {
    background-color: #EFC319;
    color: black; }

.selectable_mode_btn.selectable_mode_on {
  background-color: #EFC319;
  color: black; }

.table-row-detail {
  min-width: 400px; }
  .table-row-detail > div {
    margin-bottom: 10px; }
    .table-row-detail > div label {
      margin: 0; }

.choices-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left; }
  .choices-container .choice-item {
    width: 40%; }

.issues-date-ct {
  display: flex;
  flex-direction: row; }
  .issues-date-ct .issues-date-item {
    margin-right: 15px; }

.button-row {
  display: flex; }
  .button-row button {
    margin-right: 20px; }

.inline-from-to {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row; }
  .inline-from-to > label:first-of-type {
    width: 100%; }
  .inline-from-to input[type=date] {
    width: 130px; }

.row-spaced {
  margin: 0px; }
  .row-spaced > * {
    margin-right: calc(.5 * 1rem); }

.ref-publication-row {
  margin: calc(.25 * 1rem);
  /*button:hover {
    background-color: $light-grey;
    color: $black;
  }*/ }
  .ref-publication-row button {
    margin-left: calc(.5 * 1rem);
    margin-right: calc(.5 * 1rem); }

.flex-row-wrap {
  display: flex;
  flex-wrap: wrap; }

.row-no-margin, .row-from-to, .row-date-fields {
  margin: 0; }

.row-date-fields input, .row-date-fields select {
  width: 80px; }

.multi_rel_recref_container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-row-gap: 8px;
  width: 100%;
  font-size: 0.694em; }
  .multi_rel_recref_container > .grid-item {
    background-color: #f2f2f2; }

.sub-recref-form {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 100%; }
  .sub-recref-form input[type=date] {
    width: 100px; }
  .sub-recref-form div:only-child {
    width: 500px; }

.autodate-div .from-div {
  margin-right: 20px; }

/*# sourceMappingURL=main.css.map */