.actionbox {
  margin: auto;
  width: 50%;
  text-align: center;
  padding-bottom: 2vw;

  a {
    padding: $space-xs $space-sm;
    cursor: pointer;
    border: 1px solid $black;
    background-color: $black;
    color: $white;
    font-family: $sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.045em;

    display: block;
    margin-bottom: $space-xs;
  }

  button, a {
    font-size: $typescale-6;
    padding: calc(.6 * 1rem);
    margin: 1em;
  }

  a:hover, button:hover, .sticky-btn:focus, .sticky-btn:active {
    color: $white;
    background-color: $neutral !important;
  }

  button.save, a.save {
    background-color: $darkgreen;

  }

  button.cancel, a.cancel {
    background-color: $darkred;

  }
}