.btn {
  padding: $space-xxs $space-xs;
  border: 1px solid;
  border-radius: $space-xxs;
  transition: 200ms all ease-in-out;

  &:hover {
    background-color: $black-15;
    border-color: $black-15;
    color: $black;
  }

  &:focus, &:active {
    outline: none;
  }
}

.sticky-btn {
  padding: $space-xxs $space-xs;
  border: 1px solid;
  border-radius: $space-xxs;
  transition: 200ms all ease-in-out;

  &:hover {
    background-color: $faint-grey;
    border-color: $black-85;
    color: $black;
  }

  &:focus, &:active {
    outline: none;
  }
}

.btn--primary {
  background-color: $midnight;
  color: $white;

  &:hover {
    background-color: $black;
    color: $white;
  }

  &:focus, &:active {
    outline: none;
  }
}

.btn-disabled {
    background-color: gray;
    pointer-events: none;

    &:hover, &:focus, &:active {
        background-color: inherit;
        border-color: inherit;
        color: inherit;
}

}