.existing-note {
  background-color: #e0e0e0;
  padding: 10px;
  margin-bottom: 0.5em;
}

.existing-note-readonly {
  background-color: #e0e0e0;
  padding: 10px;
  white-space: pre-wrap;
  font-size: $typescale-5;
}
