.main_menu {
    list-style: none;
}

.main_menu li {
    display: inline-block;
    margin-left: 1em;
    background: aliceblue;
    border-radius: 5px;
    padding: 0.5em;
    margin-top: 0.5em;
}

.main_menu li a {
    font-size: $typescale-3;

    &:hover, &:active, &:focus {
      color: $midnight;
      transition: 400ms all ease-in-out;
      svg {
        transform: scale(1.06);
        transition: 400ms all ease-in-out;
      }
    }
}