fieldset.lookup_fieldset {
    max-width: 40%;
    background-color: $faint-grey;
    clear: both;
}

.lookup_fieldset a:hover {
    text-decoration: underline;
}

textarea.no_border {
    border: 1px solid transparent;

    &:hover, &:active, &:focus {
      background-color: $lighter-grey;
      border-color: black;
    }
}