
.pagination {
    padding: $space-sm $space-unit $space-sm 0;
}

#search-components {
    /*max-width: 900px;*/
}

#search-components label {
    font-size: 16px;
}

#hidden_columns span {
    display: inline-block;
    font-size: $typescale-7;
    border: 1px solid $black;
    padding: .5em;
    border-radius: 1em;
    margin-right: 0.5em;
    cursor: pointer;
}