#search-components {
    /*max-width: 900px;*/
    font-size: 14px;
    clear: both;
}

#search-components label {
    font-size: 14px;
}

.search-control {
    background-color: $faint-grey;
    border-radius: $space-sm;
    padding: $space-sm;
    height: 100%;
    width: 100%;
}

.display-point {
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-left: 0;
    margin-right: 0;
}
.display-point li {
    margin-bottom: 0.5em;
}