.search-result {
  padding: $space-sm $space-sm 0 $space-sm;
  margin-bottom: $space-md;
  border-radius: $space-xxs;
  background-color: $white-75;
  font-size: $typescale-6;
  box-shadow: $black-15 0px 1px 2px 0px, $black-15 0px 2px 6px 2px;
}

.search-result__date {
  time + time {
    color: $black-75;
  }
}

.search-results__abstract {
  color: $black-75;
}

.alert-octagon {
  width: 24px;
  height: 38px;
  stroke: red;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;

}

.moreinfo {
  width: 24px;
  stroke: $black;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;

}

.search_result_img {
  max-width: 100px;
  margin-bottom: 1vw;
}

#user_messages {
  background-color: $light-grey;
}

tr.selectable_entry td ul {
  padding: 0 0 0 calc(.75 * 1rem);
  margin-top: 0;
}


tr.selectable_entry td button {
    background-color: $faint-grey;
    color: $black;
}

tr.selectable_entry td a {
    text-decoration: underline;

    &:hover, &:focus, &:active {
        text-decoration: none;

    }
}

tr.even {
    background-color: $faint-grey;
}

tr.odd {
    background-color: $fainter-grey;
}

td.text-heavy {
    min-width: 150px;
    word-break: break-all;
}

.simplified_query_container {
    color: $mid-grey;

    &:hover {
        color: $black;
    }
}

.simplified_query {
    float: left;
}

.simplified_query ul {
    margin: unset;
    padding-right: 1em;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 0;
    grid-template-rows: 30px 40px;
    grid-column-gap: 1.5em;
}

.simplified_query ul li, span {
    font-size: $typescale-6;
}

.result_count {
    float: left;
}

.result_count h2 {
    line-height: unset;
}