.advanced_search {
    display: none;
}

.ui-autocomplete {
    background-color: $white;
    border: 1px dotted $black;
    z-index:30 !important;
}

.ui-menu-item {
    list-style-type: none;
    cursor: pointer;
    padding: $space-xs;

    &:hover, &:focus, &:active {
        background-color: $midnight-50;
        border-color: $black-15;
        color: $white;

  }

}

.searchfield,.dateinput {
    &:focus {
        background-color: $faint-grey;
    }
}

.ymdele.advanced_search {
    flex-basis: 50%;
    max-width: 50%;
}

.ymdele.search_input {
    flex-basis: 33.33%;
    max-width: 33.33%;
}

.advanced-mode .ymdele.search_input {
    flex-basis: 50%;
    max-width: 50%;
}
