.tippy-box {
  background-color: $black-85;
  color: #fff;
  font-weight: normal;
  line-height: 1.5;
  text-transform: none;
  --tw-drop-shadow: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.tippy-arrow {
  color: $black-85;
}

[data-tippy-content], sup > svg {
  /*cursor: pointer;*/
}

.tippy-container {
    margin: auto;
    width: 24px;
}

.inline-tippy {
    margin: unset;
    display: inline;
    width: 24px;
}

.search-fieldset-tippy-container {
    display: inline;
}