<!-- TOBEREMOVE 20231122 no longer used in UI webpage -->
{% extends 'core/component/common_compact_item.html' %}

{% block compact_item_wrapper %}
    {% with entry_id=record.location_id %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block title_link %}
    <a href="{% url 'location:full_form' record.location_id %}">
        {{ record.location_name }}
    </a>
{% endblock %}

{% block left_content %}
    {% include "core/component/compact_item/field_if_exist.html" with field_value=record.editors_notes title='Editor notes' icon_name='file-text' %}

    {% include "core/component/compact_item/field_if_exist.html" with field_value=record.location_synonyms title='Location synonyms' icon_name='file-text' %}

    {% include "core/component/compact_item/field_if_exist.html" with field_value=record.further_reading title='Further reading' %}

    {% if record.latitude or record.longitude %}
        <div class="row">
            <div class="col col--1of2">
                <dt>Latitude</dt>
                <dd class="display-inline-block">{{ record.latitude }}</dd>
            </div>
            <div class="col col--1of2">
                <dt>Longitude</dt>
                <dd class="display-inline-block">{{ record.longitude }}</dd>
            </div>
        </div>
    {% endif %}
{% endblock %}


{% block right_content %}
    <dt>Location ID</dt>
    <dd><a href="{% url 'location:full_form' record.location_id %}">#{{ record.location_id }}</a></dd>

    {% include "core/component/compact_item/last_edited_by.html" with record=record %}

    {% include "core/component/compact_item/res_result.html" with resources=record.resources %}

{% endblock %}
