{% extends "core/emlo_logined.html" %}
{% load static %}


{% block head %}
    <script src="{% static 'location/js/init_loc_form.js' %}" defer></script>
    <script defer>
        document.addEventListener('DOMContentLoaded', (e) => {
            setup_location_form_listener()
        });
    </script>
{% endblock %}

{% block content %}
    <form action="{% url 'location:full_form' loc_id %}" method="post"
          enctype="multipart/form-data">
        {% csrf_token %}
        <h1>Location </h1>
        <h1>Core fields and editors' notes:</h1>
        <table>
            {{ loc_form }}
        </table>


        <!-- Comment section -->
        <h1>Researcher' notes for front-end display</h1>
        {{ comment_formset.management_form }}
        {% for form in comment_formset %}
            <table>
                {{ form }}
            </table>
        {% endfor %}


        <!-- Resource section -->
        <h1>Related resource: </h1>
        {{ res_formset.management_form }}
        {% for form in res_formset %}
            <h2>
                {% if forloop.first %}
                    Add a new resource
                {% else %}
                    Resource no. {{ forloop.counter0 }}. {{ form.resource_name.value }}
                {% endif %}
            </h2>
            <table>
                {{ form }}
            </table>
        {% endfor %}



        <div>
            <h1>Images: </h1>
            <div>
                Copyright law must be respected at all times. You must ensure that all necessary permissions have been
                obtained before uploading or attempting to display images.
            </div>
            <div>
                You can associate images with a location in two different ways:
                <ol>
                    <li>
                        Upload them if you have a copy on your own personal computer
                    </li>
                    <li>
                        Link to them by typing in, or copying and pasting in, the URL of an image on this or another
                        repository's server.
                    </li>
                </ol>
                <span>
                    In both cases, credits and licence details must be supplied before the image can be displayed to the public.
                </span>
            </div>

            {{ images_formset.management_form }}
            {% for form in images_formset %}
                {% if forloop.first %}
                    <strong> Upload image files from your own computer: </strong>
                    {{ img_form }}
                    <div>Or:</div>

                    <strong> Enter or change links to images by typing in the URL: </strong>
                    <div> Enter new image details:</div>

                {% endif %}
                <table class="section-a">
                    {{ form }}
                </table>
            {% endfor %}
        </div>

        <input type="submit" value="Submit">
    </form>
{% endblock %}
