{% extends "core/emlo_logined.html" %}
{% load static %}

{% block head %}
    <script src="{% static 'location/js/init_loc_form.js' %}" defer></script>
    <script defer>
        document.addEventListener('DOMContentLoaded', (e)=>{
            setup_location_form_listener()
        });
    </script>
{% endblock %}

{% block content %}
    <form action="{% url 'location:init_form' %}" method="post">
        {% csrf_token %}
        <table>
            {{ loc_form }}
        </table>
        <input type="submit" value="Submit">

    </form>
{% endblock %}
