{% extends "core/emlo_logined.html" %}

<!-- TOBEREMOVE -->

{% block content %}

    <h1> Location </h1>

    <form method="post">
        {% csrf_token %}


        <div class="row">


            <aside class="col col--1of3">
                <h3 class="sr-only">Search</h3>
                {% for query_fieldset in query_fieldset_list %}
                    {{ query_fieldset }}
                {% endfor %}
                <div class="flex-col sticky-bottom">
                    <button>Search</button>
                </div>
            </aside>


            <div class="col col--2of3">
                <h2>3 works found</h2>

                <!--
                <nav class="row">
                    <div class="col col--1of2">
                        <label foy="sort_by">Sort by</label>
                        <select id="sort_by">
                            <option>Last edited (desc.)</option>
                            <option>Last edited (asc.)</option>
                            <option></option>
                        </select>
                    </div>
                    <div class="col col--1of2">
                        <label foy="records_per_page">Records per page</label>
                        <select id="records_per_page">
                            <option>25</option>
                            <option>50</option>
                            <option>100</option>
                        </select>
                    </div>
                </nav>
                -->

                {{ search_components }}

                <ol class="unstyled-list">

                    {% for r in records %}
                        <li class="search-result">
                        {{ r }}
                        </li>
                    {% endfor %}
                </ol>


            </div>


        </div>

    </form>

{% endblock %}
