<table id="results_table">
    <thead>
    <tr></tr>
    <tr>
        <th>Name</th>
        <th>ID</th>
        <th>Editors' notes</th>
        <th>Sent</th>
        <th>Rec'd</th>
        <th>Sent or Rec'd</th>
        <th>Researchers' notes</th>
        <th>Related resources</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>1. E.g. room</th>
        <th>2. E.g. building</th>
        <th>3. E.g. district of city</th>
        <th>4. E.g. city</th>
        <th>5. E.g. county</th>
        <th>6. E.g. country</th>
        <th>7. E.g. empire</th>
        <th>Images</th>
        <th>Last edit</th>
    </tr>
    </thead>
    <tbody>

    {% for r in search_results %}
        <tr class="selectable_entry" entry_id="{{ r.location_id }}">
            <td>
                <a href="{% url 'location:full_form' r.location_id %}">
                    {{ r.location_name }}
                </a>
            </td>
            <td>
                <a href="{% url 'location:full_form' r.location_id %}">
                    {{ r.location_id }}
                </a>
            </td>
            <td style="min-width: 150px; word-break: break-all;">
                {% if r.editors_notes %}
                    {{ r.editors_notes }}
                {% endif %}
            </td>
            <td>{{ r.sent }}</td>
            <td>{{ r.recd }}</td>
            <td>{{ r.all_works }}</td>
            <td>
                {% include "core/component/search_table_layout/comment_result.html" with comments=r.comments %}
            </td>
            <td>
                {% include "core/component/search_table_layout/res_result.html" with resources=r.resources %}
            </td>
            <td> {{ r.latitude }} </td>
            <td> {{ r.longitude }} </td>
            <td> {{ r.element_1_eg_room }} </td>
            <td> {{ r.element_2_eg_building }} </td>
            <td> {{ r.element_3_eg_parish }} </td>
            <td> {{ r.element_4_eg_city }} </td>
            <td> {{ r.element_5_eg_county }} </td>
            <td> {{ r.element_6_eg_country }} </td>
            <td> {{ r.element_7_eg_empire }} </td>
            <td></td>
            <td>
                {% include "core/component/search_table_layout/detail_change_tracker.html" with record=r %}
            </td>
        </tr>
    {% endfor %}
    </tbody>

</table>