<table id="results_table">
    <thead>
    <tr></tr>
    <tr>
        <th>Name</th>
        <th>ID</th>
        <th>Editors' notes</th>
        <th>Sent</th>
        <th>Rec'd</th>
        <th>Sent or Rec'd</th>
        <th>Researchers' notes</th>
        <th>Related resources</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>1. E.g. room</th>
        <th>2. E.g. building</th>
        <th>3. E.g. district of city</th>
        <th>4. E.g. city</th>
        <th>5. E.g. county</th>
        <th>6. E.g. country</th>
        <th>7. E.g. empire</th>
        <th>Images</th>
        <th>Last edit</th>
    </tr>
    </thead>
    <tbody>

    {% for r in search_results %}
        <tr class="selectable_entry {% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}"
            entry_id="{{ r.location_id }}">
            <td>
                {{ r.display_location|linebreaksbr }}
            </td>
            <td>
                {% include 'core/component/search_table_layout/link_record.html' with id=r.location_id view='location:full_form' %}
            </td>
            <td class="text-heavy">
                {% if r.editors_notes %}
                    {{ r.editors_notes }}
                {% endif %}
            </td>
            <td>
                {% if r.sent %}
                    <a href="{% url 'work:search' %}?location_sent_pk={{ r.location_id }}" class="search_link"
                       target="_blank">
                        {{ r.sent }}
                    </a>
                {% endif %}
            </td>
            <td>
                {% if r.recd %}
                    <a href="{% url 'work:search' %}?location_rec_pk={{ r.location_id }}" class="search_link"
                       target="_blank">
                        {{ r.recd }}
                    </a>
                {% endif %}
            </td>
            <td>
                {% if r.all_works %}
                    <a href="{% url 'work:search' %}?location_sent_rec_pk={{ r.location_id }}" class="search_link"
                       target="_blank">
                        {{ r.all_works }}
                    </a>
                {% endif %}
            </td>
            <td>
                {% include "core/component/search_table_layout/comment_result.html" with comments=r.comments %}
            </td>
            <td>
                {% include "core/component/search_table_layout/res_result.html" with resources=r.resources %}
            </td>
            <td> {{ r.latitude }} </td>
            <td> {{ r.longitude }} </td>
            <td> {{ r.element_1_eg_room }} </td>
            <td> {{ r.element_2_eg_building }} </td>
            <td> {{ r.element_3_eg_parish }} </td>
            <td> {{ r.element_4_eg_city }} </td>
            <td> {{ r.element_5_eg_county }} </td>
            <td> {{ r.element_6_eg_country }} </td>
            <td> {{ r.element_7_eg_empire }} </td>
            <td></td>
            <td>
                {% include "core/component/search_table_layout/detail_change_tracker.html" with record=r %}
            </td>
        </tr>
    {% endfor %}
    </tbody>

</table>