
.url_checker_div {
  display: flex;

  button {
    background-color: black;
  }

}

.standtext_btn {
  border-style: dashed;
  border-width: 1px;
  border-color: black;
  margin-right: 10px;
  margin-top: -2px;
  margin-bottom: 15px;
  cursor: pointer;
}

.record_tracker_label {
  font-size: 14px;
  font-style: italic;
  font-variation-settings: 'slnt' -1;
  margin-bottom: 15px;

}

.inline_btn {
  display: inline;
}

tr.selectable_entry:hover {
  background: $faint-grey;
}

.selectable_entry.selected {
  background-color: gray;
}

.menu-item {
  position: relative;
  margin-right: 1em;
  height: 25px;
  display: inline-block;
}

.menu-subitem {
  position: absolute;
  left: 5px;
  top: 1.2em;
  z-index: 100;
  width: 9.5em;
  background-color: $midnight;
  display: none;
}

.menu-item:hover .menu-subitem {
  display: block;
}

.menu-subitem li {
  padding: 10px;

  &:hover {
    background-color: $gold;
    color: black;
  }
}


.selectable_mode_btn.selectable_mode_on {
  background-color: $gold;
  color: black;
}

.table-row-detail {
  min-width: 400px;

  & > div {
    margin-bottom: 10px;

    label {
      margin: 0;
    }

  }

}

.choices-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;

  .choice-item {
    width: 40%;
  }

}

.issues-date-ct {
  display: flex;
  flex-direction: row;

  .issues-date-item {
    margin-right: 15px;
  }
}

.button-row {
  display: flex;

  button {
    margin-right: 20px;
  }
}

.inline-from-to {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  & > label:first-of-type {
    width: 100%;
  }

  input[type=date] {
    height: 35px;
    width: 130px;
    margin: 0;
  }

  small {
    margin: auto 0;
  }
}

.row-spaced {
  @extend .row;
  margin: 0px;

  & > * {
    margin-right: $space-xs;
  }

}

.ref-publication-row {
  @extend .row;
  margin: $space-xxs;

  button {
    margin-left: $space-xs;
    margin-right: $space-xs;
  }

  /*button:hover {
    background-color: $light-grey;
    color: $black;
  }*/
}

.flex-row-wrap { // TOBEREMOVE that same as .row
  display: flex;
  flex-wrap: wrap;
}

.row-no-margin {
  @extend .row;
  margin: 0;
}

.row-date-fields {
  @extend .row-no-margin;

  input, select {
    width: 80px;
  }
}

.row-from-to {
  @extend .row-no-margin;

  & > div {
    @extend .col--1of2;
  }
}

.row-from-to small {
  margin-right: 0.5em;
  margin-left: 0.5em;
}


.multi_rel_recref_container {
  display: grid;
  grid-template-columns: 35fr 65fr;
  grid-row-gap: 8px;
  width: 100%;
  font-size: $typescale-7;

  & > .grid-item {
    background-color: #f2f2f2;
  }
}

.sub-recref-form {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 100%;

  input[type=date] {
    width: 100px;
  }

  div:only-child {
    width: 500px;
  }
}


.autodate-div .from-div, .date-fields-div .from-div {
  margin-right: 20px;
}


.recref-list {
  margin-bottom: 1em;

  .recref-row {
    @extend .row-no-margin;
    margin-bottom: 1em;
  }

  .recref-title {
    margin-right: 1em;
    margin-top: auto;
    margin-bottom: auto;
    width: 70%;
  }

  .recref-del {
    margin: auto 0;
  }

}


.errorlist {
  color: red;
}

.warn-checked:checked + label * {
  color: red;
  font-weight: bold;
}


.form-core-div {
  @extend .row;
  font-size: 16px;
}


@media only screen and (min-width: $mborder-small) and (max-width: $mborder-mid) {
  .form-col-left {
    flex-basis: 100%;
  }
}


.form-col-left {
  @extend .col;
  max-width: 310px;
}

.form-col-right {
  @extend .col;
  @extend .col--2of3;
  min-width: 700px;

  line-height: 1.4;

  label {
    display: block;
  }

}


@media only screen and (min-width: $mborder-mid) {
  .form-descriptor {
    position: -webkit-sticky;
    position: sticky;
    top: 55px;
    background-color: white;
    padding: 0.2em;
    z-index: 999;
  }
}


