input.formtext {
  width: 500px;
}

input.elcheckbox {
  display: block;
  -webkit-appearance: checkbox;
}


.section-a {
  border-width: medium;
  border-style: groove;
  padding: 5px;
  margin: 5px;
}


.url_checker_div {
  display: flex;

  button {
    background-color: black;
  }

  button.valid {
    background-color: green;
  }

  button.invalid {
    background-color: red;
  }


}