{% extends "core/emlo_logined.html" %}
{% load cl_filters %}
{% load static %}
{% block head %}
    <script>
        function confirm_delete(orderno){
        var r = confirm("Sure you want to delete?");
        if (r == true) {
            window.location.href=orderno;
        }}
    </script>
{% endblock %}
{% block content %}
{% include "core/component/alert.html" %}

<h1>Suggestions</h1>

{% include "component/suggest_new_buttons.html" %}
  
<hr>

{% include "component/suggestion_filters.html" %}

<hr>

{% for suggestion in query_results %}
<table class="suggestion" rules="cols">
    <tbody>
        <tr> <th colspan="2">
            Suggestion {{ forloop.counter }} of {{ query_results | length }}
            ({{suggestion.suggestion_type}})
            <div class="button-row-suggestion right button-row">
                <form onclick="return confirm('Are you sure you want to delete this?')"
                    action="/suggestions/delete/{{suggestion.suggestion_id}}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Delete", name="delete" class="margin-left btn"> </form>
                <form action="/suggestions/edit/{{suggestion.suggestion_id}}" method="get">
                    {% csrf_token %}
                    <input type="submit" value="Edit", name="edit" class="margin-left btn" type="text"> </form>
                <form action="." method="post">
                    {% csrf_token %}
                    <input type="submit" value="Resolve", name="resolve" class="margin-left btn" type="text"> </form>
            </div>
        </th></tr>
        <tr> <th style="width: 200px">Record</th>
            <td>
            {% with "component/suggestion_type_"|add:suggestion.suggestion_type|add:".html"|lower as template %}
                {% include template %}
            {% endwith %}
            id: <a href="/suggestions/{{ suggestion.suggestion_id }}">{{suggestion.suggestion_id}}</a> |
            {% if suggestion.suggestion_new %}
                New {{suggestion.suggestion_type}}
            {% else %}
                Existing Record
            {% endif %}
            {% if suggestion.suggestion_related_record %}
                <span data-feather="link-2" class="feather-small" aria-hidden="true"></span>
                {{suggestion.suggestion_related_record}}
            {% endif %}

        </td> </tr>
        <tr> <th>Contributor</th>    <td>{{suggestion.suggestion_author}}</td> </tr>
        <tr> <th>Date Suggested</th>
            <td>{{suggestion.suggestion_created_at}}
                {% if suggestion.is_updated %}
                  (last updated on {{suggestion.suggestion_updated_at}})
                {%  endif %}
            </td> </tr>
        <tr> <th>Content</th>        <td><pre>{{suggestion.suggestion_suggestion}}</pre></td> </tr>
    </tbody>
</table>
<br>
{% endfor %}

{% endblock %}
