{% extends "core/emlo_logined.html" %}
{% load cl_filters %}
{% block content %}

<h1> Suggestion ID: {{ record.suggestion_id}} </h1>

<table class="suggestion" rules="cols">
  <tbody>
    <tr> <th style="width: 200px">Record</th>
      <td>
      {% with "component/suggestion_type_"|add:record.suggestion_type|add:".html"|lower as template %}
        {% include template %}
      {% endwith %}
      {% if record.suggestion_new %}
        New {{record.suggestion_type}}
      {% else %}
        Existing {{record.suggestion_type}}
      {% endif %}
      {% if record.suggestion_related_record %}
        <span data-feather="link-2" class="feather-small" aria-hidden="true"></span>
        {{record.suggestion_related_record}}
      {% endif %}
    </td> </tr>
    <tr> <th>Contributor</th>  <td>{{record.suggestion_author}}</td> </tr>
    <tr> <th>Date Created at</th><td>{{record.suggestion_created_at}}</td> </tr>
    <tr> <th>Date Last Updated</th><td>{{record.suggestion_updated_at}}</td> </tr>
    <tr> <th>Content</th>    <td><pre>{{record.suggestion_suggestion}}</pre></td> </tr>
    <tr> <th style="width: 200px">Status</th>
      <td>
      {{ record.suggestion_status }}
        <div class="button-row-suggestion right button-row">
          <form onclick="return confirm('Are you sure you want to delete this?')"
            action="/suggestions/delete/{{record.suggestion_id}}" method="post">
            {% csrf_token %}
            <input type="submit" value="Delete", name="delete" class="margin-left btn"> </form>
          {% if record.suggestion_status != "Resolved" %}
            <form action="/suggestions/edit/{{record.suggestion_id}}" method="get">
              {% csrf_token %}
              <input type="submit" value="Edit", name="edit" class="margin-left btn" type="text"> </form>
            <form action="." method="post">
              {% csrf_token %}
              <input type="submit" value="Resolve", name="resolve" class="margin-left btn" type="text"> </form>
          {% endif %}
        </div>
      </td>
    </tr>
  </tbody>
</table>
    <br/>
<div>
  <a href="{% url 'suggestions:suggestion_all' %}" class="btn btn-secondary">Back to Suggestions</a>
</div>

{% endblock %}
