{% extends "core/emlo_logined.html" %}
{% load cl_filters %}
{% load static %}
{% block content %}
<script>
    function confirm_delete(orderno){
        var r = confirm("Sure you want to delete?");
        if (r == true) {
            window.location.href=orderno;
        }}
</script>


{% include 'suggestion_message.html' %}

<h1>Suggestions</h1>

<div class="button-row right">
    <h3 class="inline">Add new </h3>
    <a class="margin-left btn" href="{% url 'suggestions:suggestion_person' %}" title="Person" target="_self" tabindex="1"><span
        data-feather="user" class="feather-small" aria-hidden="true"></span>Person</a><br>
  
    <a class="margin-left btn" href="{% url 'suggestions:suggestion_location' %}" title="Location" target="_self" tabindex="1"><span
    data-feather="map-pin" class="feather-small" aria-hidden="true"></span>Location</a><br>
  
    <a class="margin-left btn" href="{% url 'suggestions:suggestion_publication' %}" title="Publication" target="_self" tabindex="1"><span
    data-feather="paperclip" class="feather-small" aria-hidden="true"></span>Publication</a><br>
      
    <a class="margin-left btn" href="{% url 'suggestions:suggestion_institution' %}" title="Institution" target="_self" tabindex="1"><span
    data-feather="home" class="feather-small" aria-hidden="true"></span>Institution</a><br>
</div>
  
<hr>

<h5> Suggestion filters :
<form method="GET" action="{% url 'suggestions:suggestion_all' %}" id="f_filter">
    {% csrf_token %}
    <div class="margin-right" >
        {% for field in form %}
            <input type="checkbox" name={{field.name}} value=True class="checkbox"
            id=id1_{{field.name}} {% if field.value %} checked {% endif %} />
            <label for=id1_{{field.name}}>{{field.label}}</label>
        {% endfor %}
    </div>
    <div class="button-row-suggestion right">
        <input type="submit" value="submit" name="f_filter" class=""margin-left btn" type="text"/>
    </div>
</form>
</h5>

<hr>

{% for suggestion in query_results %}
<table class="suggestion" rules="cols">
    <tbody>
        <tr> <th colspan="2"> 
            Suggestion {{ forloop.counter }} of {{ query_results | length }}
            ({{suggestion.suggestion_type}})
            <div class="button-row-suggestion right button-row">
                {{ suggestion.suggestion_status }}
                <form onclick="return confirm('Are you sure you want to delete this?')"
                    action="/suggestions/delete/{{suggestion.suggestion_id}}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Delete", name="delete" class="margin-left btn"> </form>
                <form action="/suggestions/edit/{{suggestion.suggestion_id}}" method="get">
                    {% csrf_token %}
                    <input type="submit" value="Edit", name="edit" class="margin-left btn" type="text"> </form>
                <form action="." method="post">
                    {% csrf_token %}
                    <input type="submit" value="Resolve", name="resolve" class="margin-left btn" type="text"> </form>
            </div>
        </th></tr>
        <tr> <th width="250px">ID</th> <td><a href="/suggestions/{{ suggestion.suggestion_id }}">{{suggestion.suggestion_id}}</a></td> </tr>
        <tr> <th>Record</th>         <td>
            {{suggestion.suggestion_type}},
            Related record = {{suggestion.suggestion_related_record}}
            {% if suggestion.suggestion_new %}, New Record {% endif %} 
        </td> </tr>
        <tr> <th>Contributor</th>    <td>{{suggestion.suggestion_author}}</td> </tr>
        <tr> <th>Date Last Updated</th><td>{{suggestion.suggestion_updated_at}}</td> </tr>
        <tr> <th>Content</th>        <td><pre>{{suggestion.suggestion_suggestion}}</pre></td> </tr>
    </tbody>
</table>
<br>
{% endfor %}

{% endblock %}
