{% extends "core/emlo_logined.html" %}
{% load cl_filters %}
{% load static %}
{% block head %}
    <script>
        function confirm_delete(orderno){
        var r = confirm("Sure you want to delete?");
        if (r == true) {
            window.location.href=orderno;
        }}
    </script>
{% endblock %}
{% block content %}
{% include "core/component/alert.html" %}

<h1>Suggestions</h1>

{% include "component/suggest_new_buttons.html" %}
  
<hr>

{% include "component/suggestion_filters.html" %}

<hr>

{% for suggestion in query_results %}
<table class="suggestion" rules="cols">
    <tbody>
        <tr> <th colspan="2">
            Suggestion {{ forloop.counter }} of {{ query_results | length }}
            ({{suggestion.suggestion_type}})
            {% include "component/suggestion_buttons.html" with suggestion_id=suggestion.suggestion_id suggestion_type=suggestion.suggestion_type suggestion_status=suggestion.suggestion_status %}
        </th></tr>
        <tr> <th style="width: 200px">Record</th>
            <td>
            {% with "component/suggestion_type_"|add:suggestion.suggestion_type|add:".html"|lower as template %}
                {% include template %}
            {% endwith %}
            id: <a href="/suggestions/{{ suggestion.suggestion_id }}">{{suggestion.suggestion_id}}</a> |
            {% if suggestion.suggestion_new == "New" %}
                New {{suggestion.suggestion_type}}
            {% else %}
                Existing Record ({{suggestion.suggestion_type}})
            {% endif %}
            {% if suggestion.suggestion_related_record %}
                <span data-feather="link-2" class="feather-small" aria-hidden="true"></span>
                {{suggestion.suggestion_related_record}}
            {% endif %}
            {% if suggestion.suggestion_related_record_int %}
                <span data-feather="link-2" class="feather-small" aria-hidden="true"></span>
                <a href="{% url suggestion.suggestion_type|lower|add:':full_form' suggestion.suggestion_related_record_int %}">{{suggestion.suggestion_related_record_int}}</a>
            {% endif %}

        </td> </tr>
        <tr> <th>Contributor</th>    <td>{{suggestion.suggestion_author}}</td> </tr>
        <tr> <th>Status</th>    <td>{{suggestion.suggestion_status}}</td> </tr>
        <tr> <th>Date Suggested</th>
            <td>{{suggestion.suggestion_created_at}}
                {% if suggestion.is_updated %}
                  (last updated on {{suggestion.suggestion_updated_at}})
                {%  endif %}
            </td> </tr>
        <tr> <th>Content</th>        <td><dl>
            {% for k,v in suggestion.parsed_suggestion.items %}
                {% if v != ' ' %}
                  <dt>{{k}}</dt> <dd>{{v}}</dd>
                {% endif %}
            {% endfor %}

        </dl></td> </tr>
    </tbody>
</table>
<br>
{% endfor %}

{% endblock %}
