{% extends "person/init_form.html" %}
{% load static %}

{% block more_section_content %}
    <script src="/static/core/js/recref_service.js"></script>
    <fieldset id="header_known_loc">
        <legend>Known geographical locations</legend>
        {% include "core/component/recref.html" with recref_type='location' id_field=person_form.birth_place label='Birthplace (or place of formation for organisations):' %}
        {% include "core/component/recref.html" with recref_type='location' id_field=person_form.death_place label='Place of death (or of cessation if an organisation):' %}


        <h3>Other locations:</h3>
        {% include "core/component/create_update_recref.html" with recref_type='location' recref_formset=loc_formset new_form=new_loc_form add_label='Add location:' %}


    </fieldset>
    <fieldset id="header_organisations">
        <legend>Organisations to which belonged</legend>
        {% include "core/component/recref.html" with recref_type='person' id_field=new_org.iperson_id label='Add another organisation:' %}

    </fieldset>

    <script>

        $(function () {
            $('#{{ person_form.birthplace.id_for_label }}_create_btn').on('click', function () {
                window.open('{% url 'location:quick_init' %}');
                window.on_quick_init_completed = function (data) {
                    $('#{{ person_form.birthplace.id_for_label }}_name').val(data.item_name)
                    $('#{{ person_form.birthplace.id_for_label }}').val(data.item_id)
                }
            });
        })

    </script>

{% endblock %}

{% block more_table_of_content %}
    <a href="#header_known_loc">Known geographical locations</a>
    <a href="#header_organisations">Organisations to which belonged</a>
{% endblock %}
