{% extends "person/init_form.html" %}
{% load static %}

{% block more_section_content %}
    <script src="/static/core/js/recref_service.js"></script>
    <fieldset id="header_known_loc">
        <legend>Known geographical locations</legend>
        {% include "core/component/recref.html" with recref_type='location' id_field=person_form.birth_place label='Birthplace (or place of formation for organisations):' %}
        {% include "core/component/recref.html" with recref_type='location' id_field=person_form.death_place label='Place of death (or of cessation if an organisation):' %}


        <h3>Other locations:</h3>
        <!-- KTODO multi other places -->
        <div>
            {{ loc_formset.management_form }}
            {% for form in loc_formset %}
                <div class="inline-from-to">
                    {{ form.person_location_id }}
                    {{ form.location_id }}
                    <label> {{ form.rec_name.value }}  </label>
                    <small>From:</small>
                    {{ form.from_date }}
                    <small>To:</small>
                    {{ form.to_date }}

                    {{ form.is_delete }}
                    <label for="{{ form.is_delete.id_for_label }}">Delete</label>
                </div>
            {% endfor %}
        </div>

        {% include "core/component/recref.html" with recref_type='location' id_field=new_other_location.location_id label='Add location:' %}
        <div class="inline-from-to">
            <label>Relevant dates:</label>
            <small>From:</small>
            {{ new_other_location.from_date }}
            <small>To:</small>
            {{ new_other_location.to_date }}
        </div>


    </fieldset>

    <script>

        $(function () {
            $('#{{ person_form.birthplace.id_for_label }}_create_btn').on('click', function () {
                window.open('{% url 'location:quick_init' %}');
                window.on_quick_init_completed = function (data) {
                    $('#{{ person_form.birthplace.id_for_label }}_name').val(data.item_name)
                    $('#{{ person_form.birthplace.id_for_label }}').val(data.item_id)
                }
            });
        })

    </script>

{% endblock %}

{% block more_table_of_content %}
    <a href="#header_known_loc">Known geographical locations</a>
{% endblock %}
