{% extends "core/emlo_logined.html" %}
{% load static %}


{% block content %}
    <script src="{% static 'core/js/ref_publication_service.js' %}" defer></script>
    <h1 class="align-center">
        {% if person_form.is_org_form or person_form.is_organisation.value == 'Y' %}
            Organisation
        {% else %}
            Person
        {% endif %}
    </h1>

    <div class="row row--centered">
        <div class="col col--1of2">
            <div>
                {{ person_form.errors }}
            </div>


            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <fieldset>
                    <legend id="header_person" class="toc-item">Core fields and editors' notes</legend>
                    <div class="margin-bottom">
                        <label>Primary name*</label>
                        {{ person_form.foaf_name }}
                        {{ person_form.foaf_name.errors }}
                        <small>(No more than 200 characters. Preferably Surname, Forename)</small>
                    </div>
                    <div class="margin-bottom">
                        {% include "core/component/common_form_choices.html" with label_text='Gender' choices_field=person_form.gender %}
                    </div>
                    <div class="margin-bottom">
                        {{ person_form.is_organisation }}
                        <label for="{{ person_form.is_organisation.id_for_label }}">Organisation?</label>
                        <small> (Leave this checkbox blank if the correspondent was an individual person; tick if the
                            correspondent was a group or organisation.)</small>
                    </div>

                    <div class="org-type-div margin-bottom"
                            {% if not person_form.is_org_form or person_form.is_organisation.value != 'Y' %}
                         style="display: none"
                            {% endif %}
                    >
                        <label>Type of group</label>
                        {{ person_form.organisation_type }}
                        <small>Further details of a group's purpose or role can be given in the professions/titles
                            field.</small>
                    </div>

                    <div class="margin-bottom">
                        <label>Editors' notes</label>
                        {{ person_form.editors_notes }}
                        <small>
                            These notes are for internal use; we do not plan to display them on the 'front end' website.
                            To enter a publicly available note, please use the researchers' notes field instead.
                        </small>
                    </div>

                </fieldset>


                <fieldset>
                    <legend id="header_synonyms" class="toc-item">Synonyms</legend>
                    <div class="margin-bottom">
                        <label>Alternative names and spellings:</label>
                        {{ person_form.skos_altlabel }}
                        {{ person_form.skos_altlabel.errors }}
                        <small>
                            Please use this field for different spellings of the primary name, e.g. Lyster for Lister.
                            You can also use it for alternative names such as a woman's maiden/married name.
                            Please put each synonym on a separate line.
                        </small>
                    </div>

                </fieldset>
                <fieldset>
                    <legend id="header_roles" class="toc-item">Roles/titles</legend>
                    <div class="choices-container">
                        {% for s in roles %}
                            {{ s }}
                        {% endfor %}
                    </div>
                    <div class="margin-bottom">
                        <label>Further details of roles / titles:</label>
                        {{ person_form.person_aliases }}
                    </div>
                    <small>
                        Please use this field for titles and career-related details such as '5th Earl of Aylesbury' or
                        'Bishop of Chester 1650-1680'.
                        <br/>
                        Please put each role/title on a separate line.
                    </small>
                </fieldset>

                <fieldset>
                    <legend id="header_dates" class="toc-item">Dates</legend>

                    {% include "person/component/date_fields.html" with title_name='date of birth' calendar=person_form.date_of_birth_calendar  is_range=person_form.date_of_birth_is_range  inferred=person_form.date_of_birth_inferred  uncertain=person_form.date_of_birth_uncertain  approx=person_form.date_of_birth_approx day_field=person_form.date_of_birth_day month_field=person_form.date_of_birth_month year_field=person_form.date_of_birth_year %}
                    {% include "person/component/date_fields.html" with title_name='date of death' calendar=person_form.date_of_death_calendar  is_range=person_form.date_of_death_is_range  inferred=person_form.date_of_death_inferred  uncertain=person_form.date_of_death_uncertain  approx=person_form.date_of_death_approx day_field=person_form.date_of_death_day month_field=person_form.date_of_death_month year_field=person_form.date_of_death_year %}
                    {% include "person/component/date_fields.html" with title_name='date when flourished' calendar=person_form.flourished_calendar  is_range=person_form.flourished_is_range  inferred=person_form.flourished_inferred  uncertain=person_form.flourished_uncertain  approx=person_form.flourished_approx day_field=person_form.flourished_day month_field=person_form.flourished_month year_field=person_form.flourished_year %}

                </fieldset>

                <fieldset>
                    <legend id="header_further_reading" class="toc-item">Further reading</legend>
                    <div class="margin-bottom">
                        <label>Bibliographical information:</label>
                        {{ person_form.further_reading }}
                    </div>
                    <div class="ref-publication-row" textbox_id="{{ person_form.further_reading.id_for_label }}"></div>
                </fieldset>


                {% block more_section_content %}
                {% endblock %}


                {% include "core/component/actionbox.html" %}

            </form>

        </div>
    </div>


    <script src="{% static 'core/js/table_of_content_service.js' %}" defer></script>
    <script>

        function setup_is_org_checkbox() {
            $('#id_is_organisation').change(function (e) {
                let org_type_div_jqe = $('.org-type-div');
                if ($(e.target).is(":checked")) {
                    org_type_div_jqe.show()
                } else {
                    org_type_div_jqe.hide()
                }
            })

        }

        $(function () {
            setup_table_of_content();
            setup_is_org_checkbox();
        });
    </script>

{% endblock %}
