{% load cl_filters %}

<table id="results_table">
    <colgroup>
        <col style="min-width: 100px">
        <col>
        <col>
        <col>
        <col>
        <col>
        <col>
        <col>
        <col>
        <col>
        <col>
        <col>
        <col>
        <col>
        <col>
        <col>
        <col>
        <col>
        <col>
    </colgroup>
    <thead>
    <tr></tr>
    <tr>
        <th>Names and titles/roles</th>
        <th>Born</th>
        <th>Died</th>
        <th>Fl.</th>
        <th>Sex</th>
        <th>Org?</th>
        <th>Type of group</th>
        <th>Sent</th>
        <th>Rec'd</th>
        <th>Sent or Rec'd</th>
        <th>Mentioned</th>
        <th>Person or Group ID</th>
        <th>Editor's notes</th>
        <th>Further reading</th>
        <th>Images</th>
        <th>Other details</th>
        <th>Tombstone</th>
        <th>Last edited by</th>
    </tr>
    </thead>
    <tbody>

    {% for r in search_results %}
        <tr class="selectable_entry {% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}"
            entry_id="{{ r.iperson_id }}" target="_blank">
            <td>
                {{ r.names_and_roles }}
            </td>

            <td>
                {{ r.birth_year_range }}
            </td>

            <td>
                {{ r.death_year_range }}
            </td>

            <td>
                {{ r.flourished_year_range }}
            </td>

            <td>
                {{ r.gender }}
            </td>

            <td>
                {% if r.is_organisation %}
                    {{ r.is_organisation }}
                {% endif %}
            </td>

            <td>
                {% if r.organisation_type %}
                    {{ r.organisation_type.org_type_desc }}
                {% endif %}
            </td>
            <td>
                {% if r.sent > 0 %}
                    <a href="{% url 'work:search' %}?person_sent_pk={{ r.person_id }}" class="search_link"
                       target="_blank">
                        {{ r.sent }}
                    </a>
                {% endif %}
            </td>
            <td>
                {% if r.recd > 0 %}
                    <a href="{% url 'work:search' %}?person_rec_pk={{ r.person_id }}" class="search_link"
                       target="_blank">
                        {{ r.recd }}
                    </a>
                {% endif %}
            </td>
            <td>
                {% if r.all_works > 0 %}
                    <a href="{% url 'work:search' %}?person_sent_rec_pk={{ r.person_id }}" class="search_link"
                       target="_blank">
                        {{ r.all_works }}
                    </a>
                {% endif %}
            </td>
            <td>
                {% if r.mentioned > 0 %}
                    <a href="{% url 'work:search' %}?person_mention_pk={{ r.person_id }}" class="search_link"
                       target="_blank">
                        {{ r.mentioned }}
                    </a>
                {% endif %}
            </td>
            <td>
                {% include 'core/component/search_table_layout/link_record.html' with id=r.iperson_id view='person:full_form' %}
            </td>

            <td>
                {% if r.editors_notes %}
                    {{ r.editors_notes|linebreaksbr }}
                {% endif %}
            </td>

            <td>
                {% if r.further_reading %}
                    {{ r.further_reading }}
                {% endif %}
            </td>
            <td>
                {% include "core/component/search_table_layout/img_result.html" with images=r.images %}
            </td>

            <td>
                {{ r.other_details_for_display|linebreaksbr|render_display_link }}
            </td>
            <td>
                {% if r.is_tombstone %}
                    <span class="tombstone-marker">Yes</span>
                {% else %}
                    No
                {% endif %}
            </td>
            <td>
                {% include "core/component/search_table_layout/detail_change_tracker.html" with record=r %}
            </td>

        </tr>
    {% endfor %}
    </tbody>

</table>