{% extends "core/emlo_common_form.html" %}
{% load static %}

{% block head %}
    {{ block.super }}
    <script src="{% static 'core/js/ref_publication_service.js' %}" defer></script>
    <script defer>

        $(function () {
            setup_url_checker()
            setup_standtext([
                'Online catalogue', 'Repository Homepage', 'Wikidata ID', 'Wikipeda',
            ]);
        })
    </script>
{% endblock %}

{% block content %}

    <div class="form-core-div">

        <div class="form-col-left toc-host"></div>

        <div class="form-col-right">
            <div>
                {{ inst_form.errors }}
            </div>


            <form method="post">
                {% csrf_token %}

                {% include "core/component/form_descriptor.html" with descriptor=form_descriptor %}
                <fieldset>
                    <legend id="header_inst" class="toc-item">Institution</legend>
                    <div class="margin-bottom">
                        <label>Institution name</label>
                        {{ inst_form.institution_name }}
                        {{ inst_form.institution_name.errors }}
                    </div>

                    <div class="margin-bottom">
                        <label>Alternative institution names</label>
                        {{ inst_form.institution_synonyms }}
                        {{ inst_form.institution_synonyms.errors }}
                        <small>(Please use this field for different variations of the institution name, e.g. BL for
                            British Library.
                            You can also use this field to translate the name into different languages.
                            Please put each alternative institution name on a separate line.)</small>
                    </div>

                    <div class="margin-bottom">
                        <label>Editors' notes</label>
                        {{ inst_form.editors_notes }}
                        {{ inst_form.editors_notes.errors }}
                        <small>(Notes for internal use.)</small>

                        <div class="ref-publication-row" textbox_id="id_editors_notes"></div>

                    </div>
                </fieldset>

                <fieldset>
                    <legend id="header_city" class="toc-item">City</legend>
                    <div class="margin-bottom">
                        <label>City name</label>
                        {{ inst_form.institution_city }}
                        {{ inst_form.institution_city.errors }}
                    </div>

                    <div class="margin-bottom">
                        <label>Alternative city names</label>
                        {{ inst_form.institution_city_synonyms }}
                        {{ inst_form.institution_city_synonyms.errors }}
                        <small>(Please use this field to give the city name in other languages, if required.
                            Please put each alternative city name on a separate line.)</small>
                    </div>

                </fieldset>

                <fieldset>
                    <legend id="header_country" class="toc-item">Country</legend>
                    <div class="margin-bottom">
                        <label>Country name</label>
                        {{ inst_form.institution_country }}
                        {{ inst_form.institution_country.errors }}
                    </div>

                    <div class="margin-bottom">
                        <label>Alternative city names</label>
                        {{ inst_form.institution_country_synonyms }}
                        {{ inst_form.institution_country_synonyms.errors }}
                        <small>(Please use this field to give the country name in other languages, if required.
                            Please put each alternative country name on a separate line.)</small>
                    </div>

                </fieldset>

                {% if res_formset %}
                    {% include "core/component/resource_formset.html" with res_formset=res_formset %}
                {% endif %}

                {% if img_handler %}
                    {% include "core/component/image_formset.html" with img_handler=img_handler %}
                {% endif %}

                {% include "core/component/actionbox_form.html" with save_perm=constant.PM_CHANGE_INST %}
                {% include "core/component/close_if_save_success.html" with is_save_success=is_save_success %}

            </form>

        </div>
    </div>


{% endblock %}
