<table>
    <thead>
    <tr></tr>
    <tr>
        <!-- KTODO add more fields -->
        <th>ID</th>
        <th>Name</th>
        <th>Alternative institution names</th>
        <th>City</th>
        <th>Alternative city names</th>
        <th>Country</th>
        <th>Alternative country names</th>
        <th>Related resources</th>
        <th>Editors' notes</th>
        <th>Images</th>
        <!--<th>Merge</th>-->
        <th>Change timestamp</th>
    </tr>
    </thead>
    <tbody>

    {% for r in search_results %}
        <tr class="selectable_entry" entry_id="{{ r.institution_id }}">

            <td>
                <a href="{% url 'institution:full_form' r.institution_id %}">
                    {{ r.institution_id }}
                </a>
            </td>
            <td>
                {{ r.institution_name }}
            </td>
            <td>
                {% if r.institution_synonyms %}
                {{ r.institution_synonyms }}
                {% endif %}
            </td>
            <td>
                {{ r.institution_city }}
            </td>
            <td>
                {% if r.institution_city_synonyms %}
                {{ r.institution_city_synonyms }}
                {% endif %}
            </td>
            <td>
                {{ r.institution_country }}
            </td>
            <td>
                {% if r.institution_country_synonyms %}
                {{ r.institution_country_synonyms }}
                {% endif %}
            </td>
            <td>
                {% include "core/component/search_table_layout/res_result.html" with r_maps=r.resources %}
            </td>
            <td>
                {% if r.editors_notes %}
                {{ r.editors_notes }}
                {% endif %}
            </td>
            <td>
                ?
            </td>
            <td>
                {{ r.change_timestamp }} by {{ r.change_user }}
            </td>
        </tr>
    {% endfor %}
    </tbody>

</table>