{% load cl_filters %}
<div class="results-scroll" role="region" aria-label="Search results">
<table id="results_table">
    <thead>
    <tr></tr>
    <tr>
        <th class="col-wide">Name</th>
        <th class="col-id">ID</th>
        <th class="col-wide">Alternative repository names</th>
        <th>City</th>
        <th>Alternative city names</th>
        <th>Country</th>
        <th>Alternative country names</th>
        <th>Related resources</th>
        <th>Editors' notes</th>
        <th>Images</th>
        <th class="col-last-edit">Last edit</th>
    </tr>
    </thead>
    <tbody>

    {% for r in search_results %}
        <tr class="selectable_entry {% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}" entry_id="{{ r.institution_id }}">
            <td class="col-wide">
                {{ r.institution_name }}
            </td>
            <td class="col-id">
                {% include 'core/component/search_table_layout/link_record.html' with id=r.institution_id view='institution:full_form' edit_perm=constant.PM_CHANGE_INST %}
            </td>
            <td class="col-wide">
                {% if r.institution_synonyms %}
                {{ r.institution_synonyms|bulleted }}
                {% endif %}
            </td>
            <td>
                {{ r.institution_city }}
            </td>
            <td>
                {% if r.institution_city_synonyms %}
                {{ r.institution_city_synonyms }}
                {% endif %}
            </td>
            <td>
                {{ r.institution_country }}
            </td>
            <td>
                {% if r.institution_country_synonyms %}
                {{ r.institution_country_synonyms }}
                {% endif %}
            </td>
            <td>
                {% include "core/component/search_table_layout/res_result.html" with resources=r.resources %}
            </td>
            <td>
                {% if r.editors_notes %}
                {{ r.editors_notes|linebreaksbr }}
                {% endif %}
            </td>
            <td>
                {% include "core/component/search_table_layout/img_result.html" with images=r.images %}
            </td>
            <td class="col-last-edit">
                {% include "core/component/search_table_layout/detail_change_tracker.html" with record=r %}
            </td>
        </tr>
    {% endfor %}
    </tbody>

</table>
</div>