{% extends "clonefinder/clonefinder_basic.html" %}
{% load static %}

{% block content_result %}
    <h2>Person</h2>

    {% include "clonefinder/component/clonefinder_header.html" with trigger_url='clonefinder:trigger_person' %}

    {% for cluster in clusters %}
        {% include "clonefinder/component/cluster_header.html" with forloop=forloop cluster=cluster %}

        <table class="mb-8" id="results_table">
            <tbody>
            {% for r in cluster.records %}
                <tr>
                    <td class="w-24"> {{ r.iperson_id }} </td>
                    <td>
                        <a href="{% url 'person:full_form' r.iperson_id %}"> {{ r.foaf_name }} </a>
                    </td>
                    <td> {{ r.skos_hiddenlabel|default:'' }} </td>
                    <td class="w-24"> {{ r.date_of_birth|default:'' }} </td>
                    <td class="w-24"> {{ r.date_of_death|default:'' }} </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endfor %}



{% endblock %}
