{% extends "core/emlo_logined.html" %}

{% block content %}

    <h1> {{ title }} </h1>

    {% for to_user_msg in to_user_messages %}
        <h1>{{ to_user_msg }}</h1>
    {% endfor %}

    <form id="search_form" method="get">
        {% csrf_token %}

        <input type="hidden" name="recref_mode" value="{{ recref_mode }}" />

        <div class="row">

            <!-- Query fieldsets -->
            <aside class="col col--1of3">
                <h3 class="sr-only">Search</h3>
                {% for query_fieldset in query_fieldset_list %}
                    {{ query_fieldset }}
                {% endfor %}
                <div class="flex-col sticky-bottom">
                    <button type="submit" name="__form_action" value="search">Search</button>
                </div>
            </aside>


            <div class="col col--2of3">
                <h2>{{ total_record }} {{ title }}s found</h2>

                <!-- Search components (e.g. sort by, records per page) -->
                {{ search_components }}

                <!-- search function toolbar (e.g. download output, compact, expanded)  -->
                <aside class="margin-bottom row">
                    <div class="col col--1of2">
                        <button type='submit' class="btn margin-right inline_btn"
                                name="__form_action" value="download_csv">
                            Download output
                        </button>
                        <button class="btn margin-right inline_btn selectable_mode_btn">
                            Select
                        </button>
                        <button id="merge_btn" class="btn margin-right inline_btn">
                            Merge
                        </button>
                        <a href="" class="btn margin-right">Save query</a>
                    </div>
                    <div class="col col--1of2">
                        <h3 class="sr-only">Layout</h3>
                        <div class="align-right">
                            <input type="radio" id="display-as-grid" value="grid"
                                   name="display-style"
                                    {% if is_compact_layout %}
                                   checked
                                    {% endif %}

                            />
                            <label for="display-as-grid">
                                Compact
                                <small> <span data-feather="grid" aria-hidden="true"></span> </small>
                            </label>

                            <input type="radio" id="display-as-list" value="table"
                                   name="display-style"
                                    {% if not is_compact_layout %}
                                   checked
                                    {% endif %}
                            />
                            <label for="display-as-list">
                                Expanded
                                <small><span data-feather="list" aria-hidden="true"></span></small>
                            </label>
                        </div>
                    </div>
                </aside>

                {{ results_renderer | safe }}

            </div>

        </div>

    </form>

    <form id="merge_form" action="{{ merge_page_url }}"></form>

    <!-- Pagination -->
    <div class="pagination">
    <span class="page-links">
        {% if page_obj.has_previous %}
            <a id="id_previous_page" href="#!" page="{{ page_obj.previous_page_number }}"> previous </a>
        {% endif %}
        <span class="page-current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
        {% if page_obj.has_next %}
            <a id="id_next_page" href="#!" page="{{ page_obj.next_page_number }}">next</a>
        {% endif %}
    </span>
    </div>

    <!-- script -->
    <script>
        var emlojs = emlojs || {};
        emlojs.selectable_service = {
            _mode_change_listener_fn_list: [],
            is_selectable_mode_on: function () {
                return $('.selectable_mode_btn').hasClass('selectable_mode_on');
            },
            setup_toggle_selectable_mode: function () {
                $('.selectable_mode_btn').on('click', (e) => {
                    e.preventDefault();
                    $(e.target).toggleClass('selectable_mode_on')


                    let is_mode_on = this.is_selectable_mode_on()
                    this._mode_change_listener_fn_list.forEach((fn) => {
                        fn(is_mode_on)
                    });
                })
            },
            setup_selectable_entry: function () {
                $('.selectable_entry').on('click', (e) => {
                    if (this.is_selectable_mode_on()) {
                        $(e.target).closest('.selectable_entry').toggleClass('selected')
                    }
                })
            },
            setup_all: function () {
                this.setup_toggle_selectable_mode();
                this.setup_selectable_entry();
            },
            on_mode_change: function (fn) {
                this._mode_change_listener_fn_list.push(fn);
            },
            get_entry_id: function (selectable_entry_ele) {
                return $(selectable_entry_ele).attr('entry_id');
            }

        }

        emlojs.recref_service = {

            setup_all: function () {
                $('.selectable_entry').on('click', (e) => {
                    let entry_id = emlojs.selectable_service.get_entry_id(
                        $(e.target).closest('.selectable_entry')
                    );

                    // KTODO extact return_quick_init

                    let form = $('<form action="{% url 'location:return_quick_init' '__entry_id__' %}">');
                    form.attr(
                        'action',
                        form.attr('action').replace('__entry_id__', entry_id)
                    )
                    $('body').append(form)
                    form.submit()
                })

            },

        }


        function submit_page(target_page_num) {
            if (target_page_num) {
                let page_ele = document.getElementById('id_page')
                page_ele.setAttribute('value', target_page_num)
            }

            document.getElementById('search_form').submit()
        }

        function setup_merge_btn() {
            $('#merge_btn').hide()
            emlojs.selectable_service.on_mode_change((is_on) => {
                if (is_on) {
                    $('#merge_btn').show()
                } else {
                    $('#merge_btn').hide()

                    // cancel all selected entry
                    $('.selectable_entry.selected').removeClass('selected');
                }
            });

            $('#merge_btn').on('click', (e) => {
                e.preventDefault();

                // clean up old merge_id if any
                $('#merge_form input[name=__merge_id]').remove();

                let form = $('#merge_form');
                $('.selectable_entry.selected').map((i, v) => {
                    let entry_id = emlojs.selectable_service.get_entry_id(v);
                    return $(`<input type="hidden" name="__merge_id" value="${entry_id}" />`);
                }).each((i, v) => {
                    form.append(v);
                });

                // debugger
                form.submit()
            })

        }

        ['id_next_page', 'id_previous_page'].forEach((target_id) => {
            let ele = document.getElementById(target_id);
            if (ele) {
                ele.addEventListener('click', () => {
                    submit_page(ele.getAttribute('page'))
                });
            }
        });

        ['id_sort_by', 'id_num_record'].forEach((target_id) => {
            document.getElementById(target_id).addEventListener('change', () => {
                submit_page()
            });
        });

        $(function () {
            setup_record_delete();
            emlojs.selectable_service.setup_all()
            setup_merge_btn();
            {% if recref_mode == '1' %}
                emlojs.recref_service.setup_all()
            {% endif %}
        })


    </script>

{% endblock %}
