{% extends "core/emlo_logined.html" %}
{% load static cl_filters %}
{% block content %}

    <div class="col col--1of3" style="text-align: center;">
        <h1> {{ title }} </h1>
    </div>

    <div id="user_messages" style="background: darkgray;">
        {% for to_user_msg in to_user_messages %}
            <h1>{{ to_user_msg }}</h1>
        {% endfor %}
    </div>

    <input id="num_records" type="hidden" value="{{ paginator.count }}" />

    <form id="search_form" method="get">

        <input type="hidden" name="recref_mode" value="{{ recref_mode }}"/>

        <div class="row">

            <!-- Query fieldsets -->
            <aside id="query-fieldset" class="col col--1of4">
                <h3 class="sr-only">Search</h3>
                {% for query_fieldset in query_fieldset_list %}
                    {{ query_fieldset }}
                {% endfor %}

                {% include "core/component/actionbox_search.html" %}
            </aside>

            <div id="query-result" class="col col--3of4">
                {% if paginator.count == 0 %}
                    <button id="fieldset-toggle-btn" class="search-form-btn" type="button">
                        Toggle <span data-feather="search" aria-hidden="true"></span>
                    </button>
                    <h2>No results</h2>
                {% else %}

                    <!-- Number of results -->
                    <div class="col">
                        <div class="result_count">
                            <h2>{{ page_obj|get_results_on_page }} out
                                of {{ paginator.count | floatformat:'g' }} {{ paginator.count|pluralize:entity }}</h2>
                        </div>

                        <!-- Show search criteria -->
                        {% if simplified_query %}
                            {% include "core/component/simplified_query.html" with simpliefied_query=simplified_query %}
                        {% endif %}

                    </div>

                    <!-- Search components (e.g. sort by, records per page) -->
                    {{ search_components }}

                    <!-- Upper pagination -->

                    {% include 'core/component/pagination.html' %}

                    <!-- search function toolbar (e.g. download output, compact, expanded)  -->
                    <aside class="margin-bottom row">
                        <div class="col col--1of2">
                            {% if paginator.count %}
                                <button id="fieldset-toggle-btn" class="search-form-btn" type="button">
                                    Toggle <span data-feather="search" aria-hidden="true"></span>
                                </button>

                                <button id="save-query-btn" class="search-form-btn" type="submit"
                                        name="__form_action" value="save_query">
                                    Save query <span data-feather="save" aria-hidden="true"></span>
                                </button>
                            {% endif %}

                            {% if can_export_csv %}
                                <button type='submit' class="search-form-btn"
                                        name="__form_action" value="download_csv">
                                    CSV output
                                </button>
                            {% endif %}

                            {% if can_export_excel %}
                                <button id="export_excel_btn" type='submit' class="search-form-btn"
                                        name="__form_action" value="download_excel">
                                    Excel output
                                </button>
                            {% endif %}

                            {% if merge_page_url %}
                                <button class="search-form-btn selectable_mode_btn">
                                    Select
                                </button>
                                <button id="merge_btn" class="search-form-btn" style="display: none">
                                    Merge
                                </button>
                            {% endif %}
                        </div>
                        {# Only display search rendering selection for work #}
                        {% if 'work' in entity %}
                            <div class="col col--1of2">
                                <h3 class="sr-only">Layout</h3>
                                <div class="align-right">
                                    <input type="radio" id="display-as-grid" value="grid"
                                           name="display-style"
                                           class="searchcontrol"
                                            {% if is_compact_layout %}
                                           checked
                                            {% endif %}

                                    />
                                    <label for="display-as-grid">
                                        Compact
                                        <small> <span data-feather="grid" aria-hidden="true"></span> </small>
                                    </label>

                                    <input type="radio" id="display-as-list" value="table"
                                           name="display-style"
                                           class="searchcontrol"
                                            {% if not is_compact_layout %}
                                           checked
                                            {% endif %}
                                    />
                                    <label for="display-as-list">
                                        Expanded
                                        <small><span data-feather="list" aria-hidden="true"></span></small>
                                    </label>
                                </div>
                            </div>
                        {% endif %}
                    </aside>

                    {{ results_renderer | safe }}

                    <!-- Lower pagination -->

                    {% include 'core/component/pagination.html' %}

                {% endif %}

            </div>

        </div>

    </form>

    {% if merge_page_url %}
        <form id="merge_form" action="{{ merge_page_url }}"></form>
    {% endif %}

    <!-- script -->
    <script>

        let entity = "{{ entity }}".split(',')[0];
        let return_quick_init_vname = "{{ return_quick_init_vname }}";
        {%  if return_quick_init_vname %}
            let vname_action_url = "{% url return_quick_init_vname '__entry_id__' %}";
        {% endif %}
        let recref_mode = "{{ recref_mode }}";

        $('#export_excel_btn').click(function (e){
            let msg = 'Are you sure you want to export the search results to Excel?'
            let num_records = $('#num_records').val()
            if (num_records) {
                msg = `Are you sure you want to export ${num_records} search results to Excel?`
            }

            if (! confirm(msg)) {
                e.preventDefault();
                return ;
            }
        });


        window.on_form_completed = function (data) {
            location.reload()
        }
        $('.open-link-btn').each(function (index, ele) {
            let btn_jqe = $(ele);
            btn_jqe.mousedown(function (e){
                e.preventDefault()
                let url = btn_jqe.attr('url');
                if (! url) {
                    console.log(`url[${url}] not found in element -- ${ele}`)
                    return ;
                }
                window.open(url).focus();
            });
        });

    </script>
    <script src="{% static 'core/js/search-results.js' %}"></script>

{% endblock %}
