{% extends "core/emlo_base.html" %}
{% load static %}
{% load cl_filters %}

{% block header %}
    <nav class="flex-space-between">
        <ul class="no-padding no-margin">

            <li class="menu-item">
                <a href="/"><img src="{% static 'core/img/cofk_logo_inverted.png' %}" id="logo"></a>
            </li>

            {% include "core/component/common_section_search_menu.html" %}
            {% include "core/component/common_section_new_menu.html" %}

            {% if constant.PM_VIEW_LOOKUPCAT in perms %}
                <li class="menu-item">
                    <a href="">Lists</a>
                    <ul class='unstyled-list no-margin menu-subitem'>
                        {%  if constant.PM_CHANGE_ROLECAT in perms %}
                        <a href="{% url 'list:roles' %}">
                            <li>Roles</li>
                        </a>
                        {% endif %}
                        {%  if constant.PM_VIEW_LOOKUPCAT in perms %}
                        <a href="{% url 'catalogue:search' %}">
                            <li>Catalogues</li>
                        </a>
                        {% endif %}
                        {%  if constant.PM_CHANGE_SUBJECT in perms %}
                        <a href="{% url 'list:subjects' %}">
                            <li>Subjects</li>
                        </a>
                        {% endif %}
                        {%  if constant.PM_CHANGE_ORGTYPE in perms %}
                        <a href="{% url 'list:orgtypes' %}">
                            <li>Org. types</li>
                        </a>
                        {% endif %}
                        {%  if constant.PM_CHANGE_ROLECAT in perms %}
                        <a href="{% url 'lang:search' %}">
                            <li>Language</li>
                        </a>
                        {% endif %}
                        {% if constant.PM_CHANGE_USER|can_show_for_perm:perms %}
                        <a href="{% url 'user:search' %}">
                            <li>User</li>
                        </a>
                        {% endif %}
                    </ul>
                </li>
            {% endif %}
        </ul>
        <ul class="no-margin">
            {% if constant.PM_CHANGE_COLLECTWORK|can_show_for_perm:perms %}
                <li class="menu-item">
                    <a href="">Uploads</a>
                    <ul class='unstyled-list no-margin menu-subitem'>
                        <a href="{% url 'uploader:upload_add' %}">
                            <li>Add a new upload</li>
                        </a>
                        <a href="{% url 'uploader:upload_list' %}">
                            <li>Browse uploads</li>
                        </a>
                        <a href="{% url 'uploader:upload_works' %}">
                            <li>Uploaded works</li>
                        </a>
                    </ul>
                </li>
            {% endif %}
            {% if constant.PM_VIEW_AUDIT|can_show_for_perm:perms %}
                <li class="menu-item">
                    <a href="{% url 'audit:search' %}">Audit</a>
                </li>
            {% endif %}
            <li class="menu-item">
                <a href="#!">{{ request.user }}</a>
                <ul class='unstyled-list no-margin menu-subitem' style="left: -100px;">
                    {% if request.user.has_saved_queries %}
                        <a href="{% url 'list:savedqueries' %}">
                            <li>Saved queries</li>
                        </a>
                    {% endif %}
                    <a href="{% url 'login:change-password' %}">
                        <li>Change password</li>
                    </a>
                    <a href="{% url 'login:logout' %}">
                        <li>Logout</li>
                    </a>
                </ul>
            </li>
        </ul>
    </nav>
{% endblock %}
