{% extends "core/emlo_base.html" %}


{% block header %}
    <nav class="flex-space-between">
        <!-- TODO value of  href to be define  -->
        <ul class="no-padding no-margin">
            <li class="menu-item">
                <a href="/works/">Works</a>
            </li>
            {% include "core/component/common_section_menu_item.html" with search_vname='person:search' init_vname='person:init_form' section_name='People' %}
            {% include "core/component/common_section_menu_item.html" with search_vname='location:search' init_vname='location:init_form' section_name='Places' %}
            <li class="menu-item">
                <a href="/repositories/">Repositories</a>
            </li>
            {% include "core/component/common_section_menu_item.html" with search_vname='publication:search' init_vname='publication:init_form' section_name='Publications' %}
        </ul>
        <ul class="no-margin">
            <li class="menu-item">
                <a href="/audit/">Audit</a>
            </li>
            <li class="menu-item">
                <a href="#!">{{ request.user.username }}</a>
                <ul class='unstyled-list no-margin menu-subitem'>
                    <a href="{% url 'login:logout' %}">
                        <li>Logout</li>
                    </a>
                </ul>
            </li>
        </ul>
    </nav>
{% endblock %}
