{% load static %}
{% load sass_tags %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="{% sass_src 'core/scss/main.scss' %}" rel="stylesheet" type="text/css" />
    <script src="/static/core/js/jquery-3.6.0.min.js"></script>
    <script src="/static/core/js/emlo-io.js"></script>

    <!-- feature icon -->
    <script src="https://unpkg.com/feather-icons"></script>

    {% block head %}
    {% endblock %}

</head>
<body>

<header class="bg-midnight sticky page-header">
    <div class="col">
        {% block header %}
        {% endblock %}
    </div>
</header>

{% block content %}
{% endblock %}


{% include "core/footer.html" %}

<script>
    var emlojs = emlojs || {}


    <!-- feature icon -->
    feather.replace()
</script>

<!-- Tooltip  -->
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://unpkg.com/tippy.js@6"></script>

<script>

// Note does not work when content is zoomed
tippy('[data-tippy-content]', {placement: 'top-start',});

</script>

</body>
</html>
