{% load static %}
<footer class="page-footer">
    <div class="row row--centered">
        <ul class="inlined-list" id="footer-list">
            <li>
                <a href="https://www.ox.ac.uk/" target="_blank" rel="noopener" class="display-inline-block">
                    <img src="{% static 'core/img/logo-oxford.svg' %}"/>
                </a>
            </li>
            <li>
                <a href="https://www.bodleian.ox.ac.uk/" target="_blank" rel="noopener" class="display-inline-block">
                    <img src="{% static 'core/img/logo-bodleian.png' %}"/>
                </a>
            </li>
            <li>
                <a href="https://mellon.org/" target="_blank" rel="noopener" class="display-inline-block">
                    <img src="{% static 'core/img/logo-mellon.svg' %}"/>
                </a>
            </li>
        </ul>
    </div>
</footer>
