{% extends "core/emlo_logined.html" %}


{% block head %}
    <script>
        $(function () {
            $('.merge-items').click(function (e) {
                $(e.target).closest('.merge-items').parent().find('input[type=radio]').click()
            });
        });
    </script>
{% endblock %}

{% block content %}
    <h1> Merge -- Select the master record </h1>
    <form method="post" action="{{ merge_action_url }}">
        {% csrf_token %}
        <div class="merge-div">
            {% for m in choice_list %}
                <div class="row-no-margin ">
                    <input type="hidden" name="merge_pk" value="{{ m.model_pk }}">
                    <div>
                        <input type="radio" id="merge_id_{{ forloop.counter0 }}" name="selected_pk"
                               value="{{ m.model_pk }}"
                                {% if forloop.first %}
                               checked
                                {% endif %}
                        >
                        <label></label> <!-- required by radio scss -->
                    </div>
                    <div class="merge-items">
                        <div>
                            <label>{{ m.name }}</label>
                        </div>
                        {% include "core/component/merge_details.html" with related_records=m.related_records %}
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="sticky-bottom row-no-margin actionbox">
            <a class="cancel" href="{{ return_url }}"> Cancel </a>
            <button class="save" name="action_type" value="confirm">Submit</button>
        </div>

    </form>
{% endblock %}
