{% extends "core/emlo_logined.html" %}
{% load static %}


{% block content %}
    <h1>Following {{ name }} has been selected.</h1>
    <h3> {{ item_name }} </h3>

    <small>Click OK to pass the details back into the main data entry screen.</small>
    <div class="row-spaced">
        <button id="ok_btn"> OK</button>
        <button id="cancel_btn"> Cancel</button>
    </div>

    <script>
        $(function () {
            $('#ok_btn').on('click', function () {
                window.opener.on_quick_init_completed({
                    item_name: '{{ item_name }}',
                    item_id: {{ item_id }},
                })
                window.close()
            })
            $('#cancel_btn').on('click', function () {
                window.close()
            })
        })
    </script>

{% endblock %}
