version: "3.3"

services:

  db:
    image: postgres:14
    environment:
      PGDATA: /var/lib/postgresql/data/emlo_db/
    volumes:
      - data:/var/lib/postgresql/data
    env_file:
      - .env
    ports:
      - 25432:5432

  db_old:
    image: postgres:14
    environment:
      PGDATA: /var/lib/postgresql/data/emlo_db/
    volumes:
      - old_data:/var/lib/postgresql/data
      - ../../db_dump/:/db_dump
    env_file:
      - .db_old_env
    ports:
      - 55432:5432

  web:
    build:
      context: ../../
      dockerfile: docker/site-edit-2/Dockerfile
    volumes:
      - ../../:/code
      - emlo_home:${EMLO_APP_HOME}
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
    entrypoint: /code/docker/site-edit-2/entrypoint.sh

  django-q:
    build:
      context: ../../
      dockerfile: docker/site-edit-2/Dockerfile
    volumes:
      - ../../:/code
      - emlo_home:${EMLO_APP_HOME}
    env_file:
      - .env
    depends_on:
      - db
    command: python manage.py qcluster

volumes:
  data:
  old_data:
  emlo_home:
