POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

POSTGRES_NAME=postgres
POSTGRES_HOST=db

DJANGO_SETTINGS_MODULE=siteedit2.settings.gunweb

GUN_NUM_WORKERS=2

# django setting
#### pleas define your own value of DJANGO_SECRET_KEY
DJANGO_SECRET_KEY=django-insecure-0s-b#1j!$4!2e$u-ibm*5p$e_o1i%w-6%v$fu*5+bjkaj2j%tr
EMLO_APP_HOME=/emlo_home/
