{% with cap_name=name|capfirst header_id='header_'|add:name %}
    <fieldset>
        <legend
                id="{{ header_id }}"
                class="{{ header_class|default:'toc-item' }}"
        >{{ cap_name }}</legend>

        <label>{{ cap_name }} as marked:</label>
        {{ marked }}

        {% include "core/component/recref.html" with recref_type='location' id_field=selected_id label=cap_name|add:' (standard format):' %}

        {% include "core/component/common_checkbox.html" with field=inferred name=cap_name|add:' inferred' %}

        {% include "core/component/common_checkbox.html" with field=uncertain  name=cap_name|add:' uncertain' %}

        {% include "core/component/comment_publication_formset.html" with comment_formset=comment_formset comment_title='Notes on '|add:name  header_id=header_id|add:'_comment' header_class='toc-sub-item' %}
    </fieldset>

{% endwith %}