{% extends "core/component/search_fieldset/fieldset.html" %}

{% block fields %}

    <!-- Description -->
    {% include "core/component/search_fieldset/field_with_lookup.html" with field=form.description field_lookup=form.description_lookup %}

    <!-- Date as marked -->
    {% include "core/component/search_fieldset/field_with_lookup.html" with field=form.date_of_work_as_marked field_lookup=form.date_of_work_as_marked_lookup %}

    <!-- Year -->
    {% include "core/component/search_fieldset/field_with_lookup.html" with field=form.date_of_work_std_year field_lookup=form.date_of_work_std_year_lookup %}

    <!-- Month -->
    {% include "core/component/search_fieldset/field_with_lookup.html" with field=form.date_of_work_std_month field_lookup=form.date_of_work_std_month_lookup %}

    <!-- Day -->
    {% include "core/component/search_fieldset/field_with_lookup.html" with field=form.date_of_work_std_day field_lookup=form.date_of_work_std_day_lookup %}

    <!-- Year range -->
    {% include "core/component/search_fieldset/from_to_year.html" with title='Date for ordering (in original calendar)' from_field=form.date_of_work_std_from to_field=form.date_of_work_std_to field_info=form.date_of_work_std_info %}

    <!-- Sender/recipient -->
    {% include "core/component/search_fieldset/field_with_lookup.html" with field=form.creators_searchable field_lookup=form.creators_searchable_lookup %}

    <!-- Origin/dest -->
    {% include "core/component/search_fieldset/field_with_lookup.html" with field=form.places_to_searchable field_lookup=form.places_to_searchable_lookup %}

    <!-- Author/sender -->
    {% include "core/component/search_fieldset/field_with_lookup.html" with field=form.creators_searchable field_lookup=form.creators_searchable_lookup %}

    <!-- Notes on authors/senders -->
    {% include "core/component/search_fieldset/field_with_lookup.html" with field=form.notes_on_authors field_lookup=form.notes_on_authors_lookup %}

    <!-- Addressee -->
    {% include "core/component/search_fieldset/field_with_lookup.html" with field=form.addressee field_lookup=form.addressee_lookup %}

    <!-- Origin (standardised) -->
    {% include "core/component/search_fieldset/field_with_lookup.html" with field=form.places_from_searchable field_lookup=form.places_from_searchable_lookup %}

    <!-- Destination (standardised) -->
    {% include "core/component/search_fieldset/field_with_lookup.html" with field=form.places_to_searchable field_lookup=form.places_to_searchable_lookup %}

    <!-- Flags -->
    {% include "core/component/search_fieldset/field_with_lookup.html" with field=form.flags field_lookup=form.flags_lookup %}

    <!-- Images -->
    {% include "core/component/search_fieldset/field_with_lookup.html" with field=form.images field_lookup=form.images_lookup %}

    <!-- Manifestations -->
    {% include "core/component/search_fieldset/field_with_lookup.html" with field=form.manifestations_searchable field_lookup=form.manifestations_searchable_lookup %}

    <!-- Related resources -->
    {% include "core/component/search_fieldset/field_with_lookup.html" with field=form.related_resources field_lookup=form.related_resources_lookup %}

    <!-- Language of work -->
    {% include "core/component/search_fieldset/field_with_lookup.html" with field=form.language_of_work field_lookup=form.language_of_work_lookup %}

    <!-- Subjects -->
    {% include "core/component/search_fieldset/field_with_lookup.html" with field=form.subjects field_lookup=form.subjects_lookup %}

    <!-- Abstract -->
    {% include "core/component/search_fieldset/field_with_lookup.html" with field=form.abstract field_lookup=form.abstract_lookup %}

    <!-- General notes -->
    {% include "core/component/search_fieldset/field_with_lookup.html" with field=form.general_notes field_lookup=form.general_notes_lookup %}

    <!-- Original catalogue -->
    {% include "core/component/search_fieldset/field_with_lookup.html" with field=form.original_catalogue field_lookup=form.original_catalogue_lookup %}

    <!-- Accession code -->
    {% include "core/component/search_fieldset/field_with_lookup.html" with field=form.accession_code field_lookup=form.accession_code_lookup %}

    <!-- Record to be deleted -->
    {% include "core/component/search_fieldset/field_with_lookup.html" with field=form.work_to_be_deleted field_lookup=form.work_to_be_deleted_lookup %}

    <!-- Work ID -->
    {% include "core/component/search_fieldset/field_with_lookup.html" with field=form.work_id field_lookup=form.work_id_lookup %}

    <!-- Last edit -->
    {% include "core/component/search_fieldset/from_to_year.html" with title='Last edit' from_field=form.change_timestamp_from to_field=form.change_timestamp_to field_info=form.change_timestamp_info %}

    <!-- Last changed by-->
    {% include "core/component/search_fieldset/field_with_lookup.html" with field=form.change_user field_lookup=form.change_user_lookup %}

{% endblock %}