{% extends "core/emlo_logined.html" %}
{% load cl_filters %}
{% block content %}
    <h1>Roles List</h1>

    {% include "core/component/messages.html" %}

    <p>A role can only be deleted if no people are associated with it, in
        which case a delete button is displayed alongside the save button.</p>
    <p>If any people are associated with a role the number of people is displayed that links to search
        results for all people of that role.</p>

        <fieldset class="lookup_fieldset">
        <legend>Add new role</legend>
        <form method="post">
            {% csrf_token %}

            {{ form.role_category_desc.label_tag }}
            {{ form.role_category_desc }}

            <input type="submit" class="btn" value="Add" name="add">
        </form>
    </fieldset>

    <div class="result_count">
        <h2>{{ page_obj|get_results_on_page }} out of {{ paginator.count | floatformat:'g' }} roles</h2>
    </div>

    <!-- Upper pagination -->

    {% include 'core/component/pagination.html' %}

    {% for c in object_list %}
        <fieldset class="lookup_fieldset">
            <legend>{{ c.role_category_desc }} ({{ c.pk }})</legend>
            <form method="post" class="edit_forms">
                {% csrf_token %}

                <label for="id_role_category_desc_{{ c.pk }}">Description:</label>
                <input type="text" value="{{ c.role_category_desc }}" name="role_category_desc"
                 id="id_role_category_desc_{{ c.pk }}">

                <input type="hidden" name="role_category_id" value="{{ c.pk }}">

                {% if c.person_count > 0 %}
                <label>Number of people:&nbsp;</label><a href="{% url 'person:search' %}?&roles_lookup=equals&roles={{ c.role_category_desc|urlencode }}" target="_blank">{{ c.person_count }}</a><br/>
                <input type="submit" class="btn" value="Save" name="save">
                {% else %}
                <input type="submit" class="btn inline_btn" value="Save" name="save">
                <input type="submit" class="btn inline_btn" value="Delete" name="delete">

                {% endif %}

            </form>

            <a href="#top">Top of page</a>

      </fieldset>
    {% endfor %}

    <!-- Lower pagination -->

    {% include 'core/component/pagination.html' %}

    {% include 'list/confirm_delete.html' %}

{% endblock %}