{% extends "core/emlo_common_form.html" %}
{% load static %}

{% load cl_filters %}

{% block content %}

    <div class="form-core-div">
        <div class="form-col-left toc-host"></div>
        <div class="form-col-right">
            <div>
                {{ pub_form.errors }}
            </div>


            <form method="post">
                {% csrf_token %}

                <fieldset>
                    <legend>Publication</legend>
                    <div class="margin-bottom">
                        <label>Publication Details*</label>
                        {{ pub_form.publication_details }}
                        {{ pub_form.publication_details.errors }}
                        <small>(e.g. author(s)/editor(s), title, place and year of publication)</small>
                    </div>

                    <div class="margin-bottom">
                        <label>Abbreviation</label>
                        {{ pub_form.abbrev }}
                        {{ pub_form.abbrev.errors }}
                        <small>(optional, max. 50 characters)</small>
                    </div>
                </fieldset>
                {% if pub_form.instance and pub_form.instance.pk and  constant.PM_CHANGE_PUBLICATION|can_show_for_perm:perms  %}
                    {% url 'publication:delete' pub_form.instance.pk as del_url %}
                    {% include "core/component/del_confirm_fieldset.html" with del_url=del_url name='Publication' %}
                {% endif %}


                {% include "core/component/actionbox_form.html" with save_perm=constant.PM_CHANGE_PUBLICATION %}
                {% include "core/component/close_if_save_success.html" with is_save_success=is_save_success %}

            </form>

        </div>
    </div>


{% endblock %}
