{% extends "core/emlo_logined.html" %}
{% load static %}


{% block content %}

    <div class="form-core-div">
        <div class="form-col-left toc-host"></div>
        <div class="form-col-right">
            <div>
                {{ pub_form.errors }}
            </div>


            <form method="post">
                {% csrf_token %}

                <fieldset>
                    <legend>Publication</legend>
                    <div class="margin-bottom">
                        <label>Publication Details*</label>
                        {{ pub_form.publication_details }}
                        {{ pub_form.publication_details.errors }}
                        <small>(e.g. author(s)/editor(s), title, place and year of publication)</small>
                    </div>

                    <div class="margin-bottom">
                        <label>Abbreviation</label>
                        {{ pub_form.abbrev }}
                        {{ pub_form.abbrev.errors }}
                        <small>(optional, max. 50 characters)</small>
                    </div>
                </fieldset>


                {% include "core/component/actionbox.html" %}

            </form>

        </div>
    </div>


{% endblock %}
