{% extends "core/emlo_common_form.html" %}
{% load static %}

{% load cl_filters %}

{% block content %}

    <div class="form-core-div">
        <div class="form-col-left toc-host"></div>
        <div class="form-col-right">
            <div>
                {{ pub_form.errors }}
            </div>


            <form method="post">
                {% csrf_token %}

                <fieldset>
                    <legend>Publication</legend>
                    <div class="flex flex-label">
                        <label>Publication details:*</label>
                        {{ pub_form.publication_details }}
                        {{ pub_form.publication_details.errors }}
                    </div>
                    <div class="flex flex-help-text margin-bottom ">
                        <small>e.g. author(s)/editor(s), title, place and year of publication</small>
                    </div>

                    <div class="flex flex-label">
                        <label>Abbreviation:</label>
                        {{ pub_form.abbrev }}
                        {{ pub_form.abbrev.errors }}
                    </div>
                    <div class="flex flex-help-text margin-bottom">
                        <small>optional, max. 50 characters</small>
                    </div>
                    <div class="flex flex-label"><small>
                        Please note: changes to the details shown here will not affect the printed edition details of
                        any existing works/manifestations. The publication details shown here will simply be used in a
                        'pick-list' to help save you unnecessary typing in future.</small>
                    </div>
                </fieldset>
                {% if pub_form.instance and pub_form.instance.pk and  constant.PM_CHANGE_PUBLICATION|can_show_for_perm:perms  %}
                    {% url 'publication:delete' pub_form.instance.pk as del_url %}
                    {% include "publication/component/del_confirm_fieldset.html" with del_url=del_url name='publication' %}
                {% endif %}

                <div class="bg-white sticky-bottom">
                <hr>
                {% include "core/component/actionbox_form.html" with save_perm=constant.PM_CHANGE_PUBLICATION %}
                {% include "core/component/close_if_save_success.html" with is_save_success=is_save_success %}
                </div>

            </form>

        </div>
    </div>


{% endblock %}
