{% extends "core/emlo_logined.html" %}
{% load static %}


{% block content %}
    <h2>The following publication has been selected.</h2>
    <br/>
    <input id="ref_id" type="hidden" value="{{ pub.publication_id }}"/>
    <div class="margin-bottom">
        <h3 class="margin-bottom">Details</h3>
        <div class="row-spaced">
            <h4 class="selected_val">{{ pub.publication_details }}</h4>
            <button class="select_btn"> Select</button>
        </div>
    </div>

    {% if pub.abbrev %}
        <div class="margin-bottom">
            <h3 class="margin-bottom">Abbreviation</h3>
            <div class="row-spaced">
                <h4 class="selected_val">{{ pub.abbrev }}</h4>
                <button class="select_btn"> Select</button>
            </div>
        </div>
    {% endif %}

    <button id="select_btn"> Cancel</button>

    <script>
        $(function () {
            $('.select_btn').on('click', function (e) {
                window.opener.on_quick_init_completed({
                    item_name: $(e.target.parentElement).find('.selected_val').html(),
                    item_id: $('#ref_id').attr('value'),
                })
                window.close()
            })
            $('#cancel_btn').on('click', function () {
                window.close()
            })
        })
    </script>

{% endblock %}
