<div class="results-scroll" role="region" aria-label="Search results">
<table id="results_table">
    <thead>
    <tr></tr>
    <tr>
        <th>Publication Details</th>
        <th class="col-id">ID</th>
        <th>Abbrev</th>
        <th class="col-last-edit">Last edit</th>
    </tr>
    </thead>
    <tbody>

    {% for r in search_results %}
        <tr class="selectable_entry {% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}" entry_id="{{ r.publication_id }}">

            <td>
                {{ r.publication_details }}
            </td>
            <td class="col-id">
                {% include 'core/component/search_table_layout/link_record.html' with id=r.publication_id view='publication:full_form' edit_perm=constant.PM_CHANGE_PUBLICATION only%}
                {% if constant.PM_CHANGE_PUBLICATION in perms %}
                    <button class="open-link-btn" url="{% url 'publication:full_form' r.publication_id %}">Edit</button>
                {% endif %}
            </td>
            <td>
                {{ r.abbrev }}
            </td>
            <td class="col-last-edit">
                {% include "core/component/search_table_layout/detail_change_tracker.html" with record=r only %}
            </td>
        </tr>
    {% endfor %}
    </tbody>

</table>
</div>