<table id="results_table">
    <thead>
    <tr></tr>
    <tr>
        <!-- KTODO add more fields -->
        <th>ID</th>
        <th>Details</th>
        <th>Abbrev</th>
        <th>Change timestamp</th>
    </tr>
    </thead>
    <tbody>

    {% for r in search_results %}
        <tr class="selectable_entry {% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}" entry_id="{{ r.publication_id }}">

            <td>
                {% include 'core/component/search_table_layout/link_record.html' with id=r.publication_id view='publication:full_form' %}
            </td>
            <td>
                {{ r.publication_details }}
            </td>
            <td>
                {{ r.abbrev }}
            </td>
            <td>
                {% include "core/component/search_table_layout/detail_change_tracker.html" with record=r %}
            </td>
        </tr>
    {% endfor %}
    </tbody>

</table>