<header class="bg-midnight sticky page-header">
  <div class="col">

      <nav class="flex-space-between">
        <ul class="inlined-list no-margin">
          <li>
            <a href="/works/">Works</a>
          </li>
          <li>
            <a href="/people/">People</a>
          </li>
          <li>
            <a href="/places/">Places</a>
          </li>
          <li>
            <a href="/repositories/">Repositories</a>
          </li>
          <li>
            <a href="/publications/">Publications</a>
          </li>
        </ul>
        <ul class="inlined-list no-margin">
          <li>
            <a href="/audit/">Audit</a>
          </li>
          <li>
            <a href="/">Logout</a>
          </li>
        </ul>
      </nav>

  </div>
</header>