{% extends "core/emlo_logined.html" %}
{% load cl_filters %}

{% block content %}

<h1>Upload</h1>

<p>For uploading Excel documents containing manifestations, people, places, repositories, works into collect.
If there are any issues with the upload they will be listed below.</p>

<div class="col col--1of4">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form.upload_file }}

        <button type="submit" class="btn">Upload</button>
    </form>
</div>

{% if report %}
<ol class="padding-top col unstyled-list">

    <li class="search-result">
        <article class="row">
            <div class="col col--4of6">
                <p class="fw-700 search-result__date">
                    <small>
                        <time datetime="{{ report.time }}">{{ report.time }}</time>
                    </small>
                </p>
                <h3>
                    <span style="color: #f00;">&#x2717;</span> {{ report.file }}
                </h3>
                {% if report.elapsed %}
                <p class="fw-700 search-result__date">
                    <small>Processing time: {{ report.elapsed }}</small>
                </p>
                {% endif %}
                <p class="fw-700 search-result__date">
                    <small>File size: {{ report.size }} kb</small>
                </p>
                {% if report.total_errors > 1 %}
                <p class="fw-700 search-result__date">
                    <small>Errors: {{ report.total_errors }}</small>
                </p>
                {% endif %}

                {% for entity, properties in report.errors.items %}

                {% if entity != 'file' %}
                <details class="search-results__abstract">
                    <summary class="fw-700">{{ entity }} ({{ properties.total }})</summary>
                    <ul>
                    {% for row in properties.errors %}

                        <li>Row: {{ row.row }}<br/>

                            <ul>
                            {% for row_error in row.errors %}
                                <li>{{ row_error }}</li>
                            {% endfor %}
                            </ul>

                        </li>

                    {% endfor %}
                    </ul>
                </details>
                {% else %}
                    {% for error in properties.error %}
                        <span style="color: #f00;">{{ error|safe }}</span><br/>
                    {% endfor %}
                {% endif %}
            {% endfor %}

        </div>

      </article>
    </li>
</ol>
{% endif %}

{% endblock %}