{% extends "core/emlo_logined.html" %}
{% load static %}

{% block content %}

<div id="upload-header">
    <h3>Contribution by {{ upload.upload_username }} uploaded {{ upload.upload_timestamp }}</h3>

    <span id="upload-summary">Status: {{ upload.upload_status }} | Number of works uploaded: {{ upload.total_works }} | Accepted: {{ upload.works_accepted}} | Rejected: {{ upload.works_rejected}}</span>

    <div class="padding-top">
        Back to list of contributions
        <button type="button" class="btn inline_btn" onclick="location.href='/upload'">Back</button>

        Accept entire contribution
        <button class="btn inline_btn" id="accept_all" name="accept_all" onclick="actionWork(this);">Accept all</button>

        Reject entire contribution
        <button class="btn inline_btn" id="reject_all" name="reject_all" onclick="actionWork(this);" disabled>Reject all</button>
    </div>
    <em>Note: confirmation will be required before Accept/Reject of entire contribution.</em>
</div>

{% include "core/component/messages.html" %}

{% include "uploader/component/confirm.html" %}

<div id="review">
    {% include "uploader/component/works.html" %}

    {% if people %}
    {% include "uploader/component/people.html" %}
    {% endif %}

    {% if places %}
    {% include "uploader/component/places.html" %}
    {% endif %}

</div>
<!--
{% for institution in institutions %}

    <p>{{ institution }}</p>

{% endfor %}
-->

<div id="bottom"></div>

<script src="{% static 'core/js/uploader.js' %}"></script>

{% endblock %}