{% extends "core/emlo_logined.html" %}

{% block content %}

<div id="upload-header">
    <h3>Contribution by {{ upload.upload_username }} uploaded {{ upload.upload_timestamp }}</h3>

    <span id="upload-summary">Status: {{ upload.upload_status }} | Number of works uploaded: {{ upload.total_works }} | Accepted: {{ upload.works_accepted}} | Rejected: {{ upload.works_rejected}}</span>

    <div id="upload-options">
    Back to list of contributions <button type="button" class="btn inline_btn" onclick="location.href='/upload'">Back</button>

    Accept entire contribution <button class="btn inline_btn" disabled>Accept all</button>

    Reject entire contribution <button class="btn inline_btn" disabled>Reject all</button>
    </div>
    <em>Note: confirmation will be required before Accept/Reject of entire contribution.</em>
</div>

{% include "uploader/component/works.html" %}

{% include "uploader/component/people.html" %}

<!--

{% for location in places %}

    <p>{{ location }}</p>

{% endfor %}


{% for institution in institutions %}

    <p>{{ institution }}</p>

{% endfor %}
-->
{% endblock %}