{% extends "core/emlo_logined.html" %}
{% load static %}

{% block content %}

    <h1>Tombstone</h1>
    <h5>Tools that help you to find similar records</h5>

    <div class="row flex space-x-2 ml-4 mb-8">
        <a href="{% url 'tombstone:work' %}">
            <button>Work</button>
        </a>
        <a href="{% url 'tombstone:location' %}">
            <button>Location</button>
        </a>
        <a href="{% url 'tombstone:person' %}">
            <button>People</button>
        </a>
        <a href="{% url 'tombstone:inst' %}">
            <button>Repositories</button>
        </a>
    </div>


    {% block content_result %} {% endblock %}

{% endblock %}
