{% extends "tombstone/tombstone_basic.html" %}
{% load static %}

{% block content_result %}
    <h2>Work</h2>

    {% include "tombstone/component/tombstone_header.html" with trigger_url='tombstone:trigger_work' %}

    {% for cluster in clusters %}

        {% include "tombstone/component/cluster_title.html" with forloop=forloop cluster=cluster %}

        <table class="mb-8" id="results_table">
            <tbody>
            {% for w in cluster.records %}
                <tr>
                    <td class="w-24"> {{ w.iwork_id }} </td>
                    <td>
                        <a href="{% url 'work:overview_form' w.iwork_id %}"> {{ w.description }} </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endfor %}

{% endblock %}
