{% if field_title %}
<label for="id_{{field.name}}">{{ field_title }}:</label>
{% else %}
{{ field.label_tag }}
{% endif %}

{% if field.help_text %}
<div class="search-fieldset-tippy-container" data-tippy-content="{{ field.help_text }}">
    <span data-feather="info" aria-hidden="true"></span>
</div>
{% endif %}

<div class="row-no-margin">
    <div class="col--1of4 advanced_search">
        {{ field_lookup }}
    </div>
    <div class="col--4of4 search_input">
        {{ field }}
    </div>
</div>
{{ field.errors }}
