{% if field_title %}
<label for="id_{{field.name}}">{{ field_title }}:</label>
{% else %}
{{ field.label_tag }}
{% endif %}

{% if field.help_text %}
<div style="display: inline" data-tippy-content="{{ field.help_text }}"><span data-feather="info" aria-hidden="true"></span></div>
{% endif %}

<div class="row-no-margin">
    <div class="col--1of4">
        {{ field_lookup }}
    </div>
    <div class="col--3of4">
        {{ field }}
    </div>
</div>
{{ field.errors }}

{% if search_fields %}
<input type="hidden" value="{{ search_fields }}" name="{{ field.name }}_search_fields"/>
{% endif %}